<div class="container">
  <h1><%= t('ddr.public.image_export.heading') %></h1>

  <div class="row">
    <div class="col-md-4">
      <h2><%= t('ddr.public.image_export.duke.subheading') %></h2>
      <%= link_to t('ddr.public.image_export.duke.submit'),
                  new_user_session_path, { class: 'btn btn-primary btn-duke-logo' } %>
    </div>

    <div class="col-md-1">
      <div class="vertical-line">
        <span class="vl-innertext"><%= t('ddr.public.image_export.separator') %></span>
      </div>
    </div>

    <div class="col-md-7">
      <h2><%= t('ddr.public.image_export.nonduke.subheading') %></h2>
      <%= form_tag({ controller: 'export_images', action: 'verify_export_recaptcha',
                     id: params[:id] }) do %>
        <div class="form-group"><%= recaptcha_tags %></div>
        <%= submit_tag t('ddr.public.image_export.nonduke.submit'), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>

</div>
