<textarea id="copyable-embed-code" class="form-control" rows="2" aria-label="copyable embed code">&lt;iframe src='<%= iframe_src_path(document) %>' height='<%= iframe_embed_height(document) %>px' width='100%' frameborder='0' marginwidth='0' marginheight='0' scrolling='no' loading='lazy' allowfullscreen&gt;&lt;/iframe&gt;</textarea>
