<%# Shared titlebar for all embedded objects %>
<nav id="iframe-embed-titlebar" class="navbar navbar-dark fixed-bottom">
  <div class="container-fluid d-block">
    <div id="iframe-embed-title-row" class="row">
      <div class="col-10 iframe-embed-title truncated-title">
        <%= link_to document.title_ssi, purl_or_doclink(document), target: '_blank', class: 'strong', rel: 'noopener' %>
       <br>

       <%# Playlist indicator %>
       <% if @derivcount.present? and @derivcount > 1 %>
        <span class="small av-embed-playlist-info">
          Part <span class="av-embed-playlist-now-playing">1</span> of <%= @derivcount %>
        </span>
       <% end %>

        <span class="small">Duke University Libraries</span>
      </div>
      <div class="col-2">
        <div class="float-right">
          <div>
            <%= link_to '#',
                        id: 'iframe-embed-info-button',
                        aria: { expanded: 'false', label: 'more info' },
                        data: { toggle: 'collapse', target: '#iframe-embed-info' } do %>
                    <%= content_tag 'span', title: 'Info',
                                            data: { toggle: 'tooltip', boundary: 'window', container: 'body' } do %>
                      <%= icon('fas', 'info-circle') %>
                    <% end %>
            <% end %>

            <%= link_to '#',
                        id: 'iframe-embed-share-button',
                        aria: { expanded: 'false', label: 'share' },
                        data: { toggle: 'collapse', target: '#iframe-share-info' } do %>
                    <%= content_tag 'span', title: 'Share',
                                            data: { toggle: 'tooltip', boundary: 'window', container: 'body' } do %>
                      <%= icon('fas', 'share-alt') %>
                    <% end %>
            <% end %>
          </div>

          <% if has_caption_or_transcript?(document) %>
            <div>
              <%= link_to 'Transcript', purl_or_doclink(document),
                          target: '_blank',
                          class: 'embed-transcript-label',
                          title: 'Text transcript available in the Duke Digital Repository',
                          data: { toggle: 'tooltip', boundary: 'window', container: 'body' }, rel: 'noopener' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="iframe-embed-info" class="row collapse">
      <div class="col-12">
        <p>
          <strong>Collection:</strong><br>
          <small><%= link_to_document document.collection, document.collection.title_ssi, target: '_blank', class: 'iframe-embed-collection' %></small>
        </p>
      </div>
    </div>
    <div id="iframe-share-info" class="row collapse">
      <div class="col-12">
        <%= render 'catalog/embed/embed_code_and_permalink', document: document %>
      </div>
    </div>

  </div>
</nav>
