<%# ------------------------------------ %>
<%#   Multi-Res (Has One or More PTIFs)  %>
<%# ------------------------------------ %>
<div class="iframe-embed-image-wrapper">
  <% if document.embargoed? %>
    <%= render 'read_embargoed', document: document %>
  <% end %>

  <% if cached_read_current_ability(document) %>
    <div class="iframe-embed-image">
      <%= render 'show_mirador',
                 aspectratio: image_item_aspectratio(document),
                 imagecount: document.multires_image_file_arks.length %>
    </div>
  <% elsif user_signed_in? %>
    <%= render 'read_not_authorized', document: document %>
  <% else %>
    <%= render 'read_restricted', document: document %>
  <% end %>

  <%= render 'catalog/embed/iframe_titlebar', document: document %>
</div>
