<div class="iframe-embed-video-wrapper">
  <% if document.embargoed? %>
    <%= render 'read_embargoed', document: document %>
  <% end %>

  <% if cached_read_current_ability(document) %>

    <div class="iframe-embed-video">
      <%= render 'display_jwplayer', jwplayer_locals({
                                                       derivatives: document.media_paths,
                                                       media_type: 'video/mp4',
                                                       media_mode: 'video'
                                                     }) %>
    </div>
    <%= render 'javascript_tools_av' %>

  <% elsif user_signed_in? %>
    <%= render 'read_not_authorized', document: document %>
  <% else %>
    <%= render 'read_restricted', document: document %>
  <% end %>

  <%= render 'catalog/embed/iframe_titlebar', document: document, derivatives: document.media_paths %>
</div>
