<% cache("dc_collection_context_brief_#{collection_document.id}", expires_in: 1.day) do %>
  <div id="collection-context" class="mb-4">
    <h2 class="h4"><%= link_to_document collection_document, collection_document.title_ssi, id: 'parent-collection' %></h2>
    <% if collection_document.abstract.present? %>
      <p class="small"><%= truncate(collection_document.abstract, length: 180, separator: ' ') %></p>
    <% end %>
    <a class="text-muted text-uppercase small" id="more-digital-collections" href="http://repository.duke.edu/dc">More Duke Digital Collections &raquo;</a>
  </div>
<% end %>
