<% if @document['admin_set_title_ssi'].present? %>
  <div class="text-muted text-uppercase small">Collection Group</div>
  <strong><%= link_to @document['admin_set_title_ssi'], digital_collections_index_portal_path, id: 'admin-set' %></strong>
  <div class="vertical-model-separator">
    <span class="fas <%= @document['common_model_name_ssi'] == 'Collection' ? 'fa-map-marker-alt' : 'fa-circle' %>"></span>
  </div>
<% end -%>
