<% cache("dc_document_context_#{@document.id}", expires_in: 1.day) do %>
  <div id="collection-context" class="text-center mb-4">
    <%= render 'document_context_collection_group' %>
    <%= render 'document_context_collection' %>
    <%= render 'document_context_item' %>
    <hr class="collection-context-separator">
  </div>
<% end %>
