<%# This is used for configured Digital Collections collections (/dc/adaccess) %>

<% cache_if !user_signed_in?, "home_showcase_#{params[:collection]}", expires_in: 30.minutes do %>

  <div class="collection-start col-md-4 p-4">
    <h1 id="collection-title"<% if @portal.title.length >= 45 %> class="long-title"<% end %>>
    <%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", default: @portal.title) %>
    </h1>
    <p class="collection-abstract">
      <%= @portal.abstract %>
      <%= showcase_abstract_more %>
    </p>
    <% if @portal.item_count > 1 %>
      <%= link_to(params.permit('controller', 'action', 'collection').merge('f[common_model_name_ssi][]': 'Item'), class: 'btn btn-primary mb-3', id: 'browse-all-items-btn') do %>
        Browse all <strong><%= number_with_delimiter(@portal.item_count) %></strong> Items
      <% end %>
    <% end %>

    <%= render 'home_showcase_link_list', document: @portal.collection %>
  </div>

  <% showcase_images = shuffle_and_select_showcase_images(
       images: @portal.showcase_images_all,
       count: showcase_samples({ showcase_layout: @portal.showcase.layout })
     ) %>

  <% showcase_images.each_with_index do |image, index| %>
    <%= render 'home_showcase_image',
               home_showcase_locals({ index: index,
                                      image: image,
                                      showcase_layout: @portal.showcase.layout }) %>
  <%- end %>
<% end %>

<% if @portal.showcase_images_all.first.is_a?(String) ||
        (@portal.showcase_images_all.first.is_a?(SolrDocument) &&
        cached_read_public_ability(@portal.showcase_images_all.first)) %>
  <% content_for :twitter_og_meta do %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= og_absolute_url(showcase_image_path(params: params, controller_name: controller_name, locals: home_showcase_locals({ image: @portal.showcase_images_all.first }))) %>">
    <meta property="og:image:alt" content='<%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", default: @portal.title) %>'>
    <meta name="twitter:image:alt" content='<%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", default: @portal.title) %>'>
  <% end %>
<% end %>
