<div class="<%= size_class %> collection-showcase p-0 d-flex align-items-end" id="collection-showcase-<%= index %>" style="background-image: url(<%= showcase_image_path({ locals: local_assigns, params: params, controller_name: controller_name }) %>);">

  <% if image.respond_to? :multires_image_file_paths %>
    <%= link_to_document image, 'View the feature item', class: 'showcase-item-wrap', id: "showcase-item-link-#{index}", data: { toggle: 'fade-element', target_id: "showcase-item-caption-#{index}" } %>

    <div class="col-12 showcase-item-caption p-3" id="showcase-item-caption-<%= index %>">
      <div class="d-flex align-items-end item-caption-inner small">
        <%= image.title_ssi.truncate(caption_length, separator: ' ') %>
        <small class="mx-1"><%= image.local_id_ssi %></small>
      </div>
    </div>
  <% end %>

</div>
