<%# This is used for the main Digital Collections homepage (/dc) %>

<% cache_if !user_signed_in?, 'home_showcase_index_portal', expires_in: 30.minutes do %>
  <div id="home-feature" class="container showcase-full m-0 p-0">
    <div class="placard position-absolute col-md-8 col-lg-7 col-xl-6 m-3 p-4 text-white">
      <h1 class="main-title font-weight-bold text-uppercase">
        <%= t("ddr.public.portal.#{params[:collection] || controller_name}.title") %>
      </h1>
      <hr class="border border-white">
      <p class="lead tagline">
        <%= t("ddr.public.portal.#{params[:collection] || controller_name}.about") %>
      </p>

      <div>
        <%= link_to(params.permit('controller', 'action').merge('f[common_model_name_ssi][]': 'Collection'), class: 'btn btn-success', id: 'browse-all-colls-btn') do %>
          Browse All <span class="item-tally"><%= number_with_delimiter(@portal.collection_count) %></span> Collections
        <% end %>

        <%= link_to(params.permit('controller', 'action').merge('f[common_model_name_ssi][]': 'Item'), class: 'btn btn-primary', id: 'browse-all-items-btn') do %>
          Browse All <span class="item-tally"><%= number_with_delimiter(@portal.item_count) %></span> Items
        <% end %>
      </div>
    </div>

    <% showcase_images = shuffle_and_select_showcase_images(images: @portal.showcase.documents, count: 1) %>

    <% showcase_images.each_with_index do |doc, index| %>
      <% if doc && doc.multires_image_file_arks.first.present? %>

        <div class="collection-showcase d-flex align-items-end" id="collection-showcase-0" style="background-image: url(<%= dc_portal_showcase_image_path(doc: doc) %>);">

          <div class="col showcase-item-caption p-3" id="showcase-item-caption-<%= index %>">
            <div class="d-flex align-items-end item-caption-inner small">
              <div>
                <%= link_to_document doc, doc.title_ssi.truncate(200, separator: ' ') %>
                <span class="mx-1"> &mdash; Collection: </span>
                <%= link_to_document(doc.parent) %>
              </div>
            </div>
          </div>
        </div>

      <%- end %>
    <%- end %>
  </div>
<%- end %>

<% content_for :twitter_og_meta do %>
  <meta name="twitter:card" content="summary">
  <meta property="og:description" content='<%= t("ddr.public.portal.#{params[:collection] || controller_name}.about") %>'>
<% end %>
