<% if @portal.collection_highlights.documents.present? %>
  <h2 class="feature-head">Featured Collections</h2>

  <div id="featured-collections" class="row mb-4">
      <% @portal.collection_highlights.documents.each_with_index do |doc, index| %>
        <% next unless cached_read_current_ability(doc) %>
        <div class="col-md-6 col-lg-4">
          <a class="collection-thumb d-block mb-3" href="<%= document_or_object_url(doc) %>" data-toggle="popover" data-content="<%= doc.abstract %>" data-placement="auto" style="background-image: url('<%= asset_path thumbnail_path(doc) %>');">
            <div class="collection-caption"><%= doc.title_ssi %></div>
          </a>
        </div>
      <% end %>
  </div>

<%- end %>
