<%# Display randomized image highlights in a grid of cropped squares. %>
<%# NOTE: only works with image items. Activate by setting highlight_type: image in %>
<%# a portal_view_configs.yml file %>

<% cache_if !user_signed_in?, "home_highlights_#{params[:collection]}", expires_in: 30.minutes do %>

  <% unless @portal.item_highlights.documents.blank? && @portal.showcase.documents.blank? %>
    <div id="highlight-items" class="row mb-0">

        <% if @portal.show_image_highlight_grid? %>

          <% highlight_images = shuffle_and_select_showcase_images(
               images: @portal.item_highlights.documents,
               count: (@portal.item_highlights.limit || 4)
             ) %>

          <% highlight_images.each_with_index do |doc, index| %>
            <% if doc.multires_image_file_arks.first && cached_read_current_ability(doc) %>
              <div class="collection-highlight col-6 col-lg-3 px-1 mb-2" id="collection-highlight-<%= index %>">
                <div class="collection-highlight-image h-100 position-relative" style="background-image: url(<%= dc_portal_showcase_image_path(doc: doc, size: '!500,500', region: 'pct:5,5,90,90') %>);">

                  <%= link_to_document doc, "View the highlight item: #{doc.title_ssi.truncate(50, separator: ' ')}", class: 'highlight-item-wrap', id: "highlight-item-link-#{index}", data: { toggle: 'fade-element', target_id: "highlight-item-caption-#{index}" } %>

                  <div class="highlight-item-caption" id="highlight-item-caption-<%= index %>">
                    <div class="item-caption-inner p-2 small"><%= doc.title_ssi.truncate(50, separator: ' ') %> <small><%= doc.local_id_ssi %></small></div>
                  </div>
                </div>
              </div>
            <%- end %>
          <%- end %>
        <%- end %>
        <% if params[:collection].present? %>
          <div class="col-12">
            <p class="text-right"><%= link_to 'View All Featured Items', featured_items_path, class: 'small text-muted', id: 'view-all-featured' %></p>
          </div>
        <% end %>

    </div>

  <%- end %>
<%- end %>
