<%= render 'home_featured_collections' %>
<%= render 'home_highlights' %>

<% if @portal.collection && @portal.description %>
  <div id="about-collection">
    <% if lookup_context.exists?('about', 'digital_collections') %>
      <h2 class="feature-head"><%= link_to raw('About the Digital Collection &raquo;'), digital_collections_about_path %></h2>
    <% else %>
      <h2 class="feature-head">About the Digital Collection</h2>
    <% end %>

    <div class="collection-description">
      <%= auto_link(simple_format(@portal.description)) %>
    </div>

    <% if lookup_context.exists?('about', 'digital_collections') %>
       <p> <%= link_to raw('Read More &raquo;'), digital_collections_about_path %></p>
    <% end %>

    <hr>
    <%= render 'shared/harmful_language' %>
  </div>
<% end %>

<% unless @portal.description.present? %>
  <%# No dc description but finding aid present suggests archival context is most important %>
  <%= render 'show_finding_aid_full', document: @portal.collection %>
  <%= render 'shared/harmful_language' %>
<% end %>

<% if @portal.collection.sponsor.present? %>
  <%= render 'show_collection_sponsor', document: @portal.collection %>
<% end %>

<%# Show some items from the collection in a regular search results grid %>
<% if @portal.show_items != 0 && !@portal.show_image_highlight_grid? %>
  <%= render 'show_children_collection', show_items: @portal.show_items %>
<% end %>

<% if @portal.collection %>
  <% if @portal.description %>
    <%# If description already present at top, put finding aid info below the items %>
    <%= render 'show_finding_aid_full', document: @portal.collection %>
  <% end %>
  <%= render 'show_copyright', document: @portal.collection %>
  <%= render 'show_blog_posts', document: @portal.collection %>
  <%= render 'show_bottom_collection', document: @portal.collection %>
  <%= render 'related_items_default', document: @portal.collection %>
<% end %>
