<% if document.has?('sponsor_ssi') %>
  <div class="card bg-light mb-3 collection-sponsor">
    <div class="card-body p-3">
      <div class="media">
        <a class="mr-3" href="<%= Ddr::Public.adopt_url %>" data-toggle="tooltip" data-placement="bottom" title="Digital preservation for this collection is supported through our Adopt a Digital Collection program. Click to learn more.">
          <div class="badge badge-warning py-2 px-3">
            <i class="fa-regular fa-circle-check"></i> Sponsored
          </div>
        </a>
        <div class="media-body p-1">
          <%= document.sponsor_ssi %>
        </div>
      </div>
    </div>
  </div>
<% end %>
