<% if @portal.item_count > 0 %>
  <div id="items-in-collection">
    <h2 class="feature-head">
      <%= link_to collection_browse_items_url(@portal.collection) do %>
        Items in This Digital Collection <span class="text-muted">(<%= number_with_delimiter(@portal.item_count) %>)</span>
      <% end %>
    </h2>

    <%# Show items in a regular search results grid. Uses a randomized selection of highlighted %>
    <%# items if configured in a portal-view-configs.yml file (else just show the first items). %>

    <% if @portal.item_highlights.documents.present? %>
      <%= render_document_index_with_view('gallery', @portal.item_highlights.documents.sample(show_items)) %>
    <% else %>
      <%= render_document_index_with_view('gallery', @portal.items[0..(show_items - 1)]) %>
    <% end %>

    <% if @portal.item_count > show_items %>
      <p class="browse-more">
        <%= link_to collection_browse_items_url(@portal.collection) do %>
          Browse all <%= number_with_delimiter(@portal.item_count) %> Items &raquo;
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
