<% @portal.showcase.documents.push(*@portal.item_highlights.documents) %>

<% if @portal.showcase.documents %>
  <h1>Featured Items</h1>
  <div id="documents" class="row gallery horizontal-gallery">
    <% @portal.showcase.documents.uniq!(&:id) %>
    <% @portal.showcase.documents.each_with_index do |doc, index| %>
      <% next unless cached_read_current_ability(doc) %>
      <div class="document highlight col-12 col-sm-6 col-md-4">
        <div class="thumbnail-wrapper">
            <%= render_thumbnail_link(doc, '!350,350') %>
          <div class="caption">
            <%= link_to_document doc %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%- end %>

<% content_for(:sidebar) do %>
  <% if @portal.collection %>
    <%= render 'show_research_help', document: @portal.collection %>
    <%= render 'collection_context_brief', collection_document: @portal.collection %>
  <% end %>
<% end %>

<%= content_for :page_title, ['Featured Items', @portal.html_title_context, 'Digital Collections', application_name].join(' / ') %>
