<%# This is used for a Digital Collections collection portal (/dc/adaccess)     %>
<%# AND search results pages within a collection's context (/dc/adaccess?q=car) %>
<%# Which content applies mostly hinges on has_search_parameters? %>

<% unless has_search_parameters? %>
  <% content_for :submast do %>
    <% if display_collection_showcase?(portal: @portal) %>
      <%= render 'home_showcase' %>
    <% else %>
      <%= render 'collection_submast', document: @portal.collection %>
    <% end %>
    <%= render 'shared/content_dm_search_alert' %>
  <% end %>
<% end %>

<% unless has_search_parameters? %>
  <%= render 'home' %>

  <% if @portal.collection %>
    <%= content_for :page_title, @portal.collection.html_title %>
    <% content_for :skip_links do %>
      <%= link_to 'Skip to limit your search', '#facets', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <% end %>
  <% end %>

<% else %>
  <%= render 'search_results' %>
  <%= content_for :page_title, search_results_html_title(@portal), flush: true %>
<% end %>

<% content_for :sidebar do %>
  <% if @portal.collection %>
    <%= render 'show_research_help', document: @portal.collection %>

    <% if has_search_parameters? %>
      <%= render 'collection_context_brief', collection_document: @portal.collection %>
    <% else %>
      <%= render 'more_info_options', document: @portal.collection %>
    <% end %>

  <% end %>

  <%= render 'search_sidebar' %>
<% end %>

<% content_for :twitter_og_meta do %>
  <meta property="og:description" content="<%= @portal.abstract || @portal.description %>">
<% end %>
