<%# This is used for the main Digital Collections homepage (/dc) %>
<%# AND cross-collection search results pages in the /dc context %>
<%# Which content applies mostly hinges on has_search_parameters? %>

<% unless has_search_parameters? %>
  <% content_for :submast do %>
    <%= render 'home_showcase_index_portal' if @portal.showcase.documents %>
  <% end %>
<% end %>

<% unless has_search_parameters? %>
  <%= render 'shared/harmful_language' %>
  <%= render 'home_featured_collections' %>

  <h2 class="feature-head">Featured Items</h2>
  <%= render 'home_highlights' %>
  <%= render 'show_blog_posts' %>
  <%= content_for :page_title, ['Digital Collections', application_name].join(' / ') %>

<% else %>
  <%= render 'search_results' %>
  <%= content_for :page_title, search_results_html_title(@portal), flush: true %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'show_portal_context' if has_search_parameters? %>
  <%= render 'search_sidebar' %>
<% end %>
