<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>

  <ul class="nav nav-tabs" role="tablist">

    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#copyright-citation" role="tab" data-toggle="tab">Copyright &amp; Citation</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#acknowledgements" role="tab" data-toggle="tab">Acknowledgements</a>
    </li>

  </ul>

  <div class="tab-content pt-4">
    <div class="tab-pane active" id="overview" role="tabpanel">
      <h1>About Ad*Access</h1>

      <p>The Ad*Access Project, funded by the Duke Endowment "Library 2000" Fund,
      presents images and database information for over 7,000 advertisements printed in
      U.S. and Canadian newspapers and magazines between 1911 and 1955. Ad*Access
      concentrates on five main subject areas: Radio, Television, Transportation,
      Beauty and Hygiene, and World War II, providing a coherent view of a number of
      major campaigns and companies through images preserved in one particular
      advertising collection available at Duke University. The advertisements are from
      the <a href="http://www.jwt.com/">J. Walter Thompson Company</a> Competitive
      Advertisements Collection of the <a href="http://library.duke.edu/rubenstein/hartman" title="Hartman Center">John W.
      Hartman Center for Sales, Advertising &amp; Marketing History</a> in Duke
      University's <a href="http://library.duke.edu/rubenstein" title="Rubenstein">David M. Rubenstein Rare Book &amp; Manuscript Library</a></p>

      <h2>Research Guide</h2>

      <p>Please consult our <a href="http://guides.library.duke.edu/adaccess">Research
      Guide</a> for Ad*Access.</p>

      <h2 id="citation">Preferred Citation</h2>

      <p>Ad*Access - Ad #R0108<br>
      John W. Hartman Center for Sales, Advertising &amp; Marketing History<br>
      Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br>
      https://repository.duke.edu/dc/adaccess</p>

      <p><a href="#copyright-citation" data-toggle="tab">Read more...</a></p>

      <h2 id="copyright" title="copyright">Copyright Information</h2>

      <p><em>Research, Teaching, Private Study, General Interest User
      Information:</em></p>

      <p>The advertisements on this web site have been made available for use in
      research, teaching, and private study. For these purposes under Fair Use, you may
      reproduce (print, make photocopies, or download) materials from this web site
      without prior permission, on the condition that you provide proper attribution of
      the source in all copies. Although we don't require you to contact us in advance
      for these purposes, we do appreciate hearing from teachers, students, and
      researchers who are using our resources in interesting ways. (<a href="#copyright-citation" title="Copyright" data-toggle="tab">more...</a>)</p>

      <p><strong>This site includes historical materials that may contain negative
      stereotypes or language reflecting the culture or language of a particular period
      or place. These items are presented as part of the historical
      record.</strong></p>

      <h2 id="why">Why Advertising?</h2>

      <p>Ad*Access is a pilot project to make a selection of historical advertisements
      available for study and research. The project draws on part of a large collection
      of magazine and newspaper ads within the Duke library's J. Walter Thompson
      Company Archives. The project includes over 7,000 ads, mainly from U.S.
      publications dating between 1911 and 1955. The 7,000 ads included in Ad*Access
      are only a tiny subset of all the advertisements printed during the time period
      in question. Rather than include just a few ads on many topics, we elected to
      digitize and make available hundreds or thousands of ads that relate to one of
      five main categories. This enables researchers and students to have enough
      material to draw on to begin to understand that advertising for a certain product
      or time period. The categories we selected are: Beauty and Hygiene,
      Transportation, Radio, Television, and World WarII. Each of these categories is
      one we know attracts a lot of research interest, and most of them also reflect
      major developments in American society, culture, business, and technology.</p>

      <p>But still: why advertising? Many commentators have noted that advertising is
      such a pervasive feature of American life that the 20th century can not be fully
      understood without studying it. Despite its perceived importance-love it or hate
      it-advertising has not been as thoroughly documented as other aspects of
      business. Not all companies that advertise hold on to their past work. Few ad
      agencies retain comprehensive files of their output. And relatively few
      libraries, museums, or archives make an effort specifically to document the
      industry.</p>

      <p>
        <%= item_image_embed({ local_id: 'BH0904', size: '!600,600', class: 'img-fluid', alt: 'ZZZ' }) %>
        <div class="caption">
            <%= item_title_link({ local_id: 'BH0904' }) %>
        </div>
      </p>

    </div>

    <div class="tab-pane" id="copyright-citation" role="tabpanel">

      <h1>Copyright and Citation</h1>

      <p>Most of the advertisements used in the Ad*Access Project were published after
      1923. Therefore, the majority of advertisements are not in the public domain. All
      the ads may be viewed and printed out by anyone for research, teaching, private
      study, or general interest. For any other uses see below for permission
      requirements.</p>

      <h2 id="copy">Copyright Information</h2>

      <h3>Research, Teaching, Private Study, General Interest User Information:</h3>

      <p>The advertisements on this website have been made available for use in
      research, teaching, and private study. For these purposes under fair use, you may
      reproduce (print, make photocopies, or download) materials from this web site
      without prior permission, on the condition that you provide proper attribution of
      the source in all copies. Although we don't require you to contact us in advance
      for these purposes, we do appreciate hearing from teachers, students, and
      researchers who are using our resources in interesting ways (send e-mail to the
      Hartman Center at <a href="mailto:hartman-center@duke.edu">hartman-center@duke.edu</a>).</p>

      <h3>Commercial, Broadcast, Mirroring, etc. User Information:</h3>

      <p>For other uses of materials from this web site - i.e. commercial products,
      publication, broadcast, mirroring, and anything else that doesn't fall under
      "fair use" - we require that:</p>

      <ol>
        <li><strong>Users must obtain permission from the current copyright
        holder.</strong><br>
        Individuals wishing to publish or broadcast any advertisement included on this
        website must assume all responsibility for identifying and satisfying any
        claimants of copyright, trademarks, or service marks.<br></li>

        <li><strong>Users must also obtain permission from the <a href="http://library.duke.edu/rubenstein/hartman">John W. Hartman Center for Sales,
        Advertising &amp; Marketing History</a> to reproduce materials held in its
        archive that are featured on this website.</strong><br>
        A letter granting permission from the current copyright holder must be
        submitted along with the request to the Hartman Center.</li>
      </ol>

      <p>Contact the company that owns the product(s) contained in the advertisements
      you would like to use. You must provide written permission from these companies
      before the Hartman Center can provide permission to use an advertisement for a
      purpose which does not fall under "fair use."</p>

      <p>The Hartman Center charges fees to cover the cost of reproduction of items in
      its collections. Requests that require extensive research or preparation by
      Center staff may require an hourly charge, negotiated in advance. In addition,
      requests to publish, broadcast, or otherwise disseminate ads may be subject to a
      commercial use fee. Please contact the <a href="mailto:hartman-center@duke.edu">Hartman Center Reference Archivist</a> for more
      information and a fee schedule.</p>

      <h2 id="fine-print">The Fine Print</h2>

      <p>The John W. Hartman Center for Sales, Advertising &amp; Marketing History can
      provide high quality reproductions of items from Ad*Access, with permission in
      advance from the copyright holder(s). We will make such copies for commercial
      uses, publication, broadcast, etc. uses only with prior
      permission.</p>

      <p>Users may make a single copy in print or digital form of images or other
      material from the Ad*Access site. These copies may be used only for use in the
      research, teaching, or private study. They may not be made for or donated to
      other repositories. They may not be further reproduced without permission.</p>

      <p>The recipient agrees to give proper acknowledgement to the Duke University
      David M. Rubenstein Rare Book &amp; Manuscript Library, and further agrees to
      secure written permission in advance from the rights owner to publish or
      broadcast any item, in whole or in part, from the Ad*Access on-line collection.
      Persons wishing to broadcast or publish this material must assume all
      responsibility for identifying and satisfying any claimants of copyright,
      trademark or service marks. These print advertisements fall under the
      "work-for-hire" stipulations of copyright law; the company that owns the product
      or product name, not the advertising agency which created the advertisement,
      holds copyright.</p>

      <p>The recipient agrees to indemnify and hold harmless Duke University, its
      officers, employees and agents from and against all suits, claims, actions and
      expenses arising out of the use of reproductions provided by the David M.
      Rubenstein Rare Book &amp; Manuscript Library. Duke University claims no rights
      to the advertising images included in Ad*Access beyond ownership of the physical
      items.</p>

      <h2 id="cite">How to cite materials from the Ad*Access Project</h2>

      <p>When using advertisements from the Ad*Access Project, please acknowledge their
      source by clearly stating the name of the project, the advertisement number, the
      collection name, and the name of the library. Also include the URL of the project
      page. An example is noted below:</p>

      <p>Ad*Access - Ad #R0108<br>
      John W. Hartman Center for Sales, Advertising &amp; Marketing History<br>
      Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br>
      https://repository.duke.edu/dc/adaccess</p>

      <p>Certain advertisements have additional copyright and citation information
      required by the copyright holder. This information is included on the individual
      advertisement pages directly under the image. In some cases, supplemental
      citation information is included in the Rights section at the bottom of the
      advertisement pages. The user is responsible for including this information in
      all citations for those advertisements.</p>

    </div>

    <div class="tab-pane" id="acknowledgements" role="tabpanel">
      <h1>Acknowledgements</h1>

      <p>The Ad*Access Project, generously funded by the Duke Endowment "Library 2000"
      fund, is the result of teamwork and coordination between two centers at the Duke
      University Rare Book, Manuscript &amp; Special Collections Library, now the <a href="http://library.duke.edu/rubenstein/" title="Rubenstein">David
      M. Rubenstein Rare Book &amp; Manuscript Library</a>.</p>

      <p>The advertising materials are part of the <a href="http://library.duke.edu/rubenstein/hartman" title="Hartman Center">John W.
      Hartman Center for Sales, Advertising &amp; Marketing History</a>; the staff of
      the Hartman Center provided selection, subject and processing information. The
      Digital Scriptorium staff dealt with the digitization of the ads, file
      management, image and data conversion, and placement on the web.</p>

      <h2>Staff Members:</h2>

      <h3>Digital Scriptorium Staff:</h3>

      <ul>
        <li>Lynn Eaton: Ad*Access Project Manager<br>

          <p>Overall project management including workflow and scanning, interface
          design and Web site creation, quality control of images and data, and student
          management.</p>
        </li>

        <li>Stephen Miller: Project Manager for Historic American Sheet Music<br>

          <p>Assisted the Ad*Access Project with EAD Encoding, Perl scripting and image
          conversion.</p>
        </li>

        <li>Steve Hensen: Ad*Access Project Director</li>
        <li>Paolo Mangiafico: Director of the Digital Scriptorium</li>
      </ul>

      <h3>Hartman Center Staff</h3>

      <ul>
        <li>Ellen Gartrell: Former Director of the John W. Hartman Center for Sales,
        Advertising &amp; Marketing History</li>
        <li>Ginny Daley: Hartman Center Technical Services Archivist</li>
        <li>Jacqueline Reid: Hartman Center Reference Archivist</li>
        <li>Katherine Rose: former Hartman Center staff member</li>
      </ul>

      <p><em>Special thanks to all of the Duke University students who worked on the
      Ad*Access Project:</em></p>

      <ul>
        <li>Julia Bardzil</li>
        <li>Lydia Boyd</li>
        <li>Kirsten Braaten</li>
        <li>Teresa Chung</li>
        <li>Ryan Denniston</li>
        <li>Justin Essig</li>
        <li>Erin Graham</li>
        <li>Anjali Harsh</li>
        <li>Jamie Kelley</li>
        <li>Brian Leach</li>
        <li>Rachel Medlock</li>
        <li>Cat Saleeby</li>
        <li>Brad Siegele</li>
        <li>Puja Singh</li>
        <li>James Sizemore</li>
        <li>Heather Swagart</li>
        <li>Michael White</li>
        <li>Josh Wilson</li>
        <li>Kelly Woo</li>
        <li>Amy Yuen</li>
      </ul>
    </div>
  </div>

  <% content_for(:sidebar) do %>
    <%= render 'shared/about_sidebar' %>
  <% end %>
<% end %>
