<% if @portal.collection %>
  <%= render 'show_research_help', document: @portal.collection %>
  <%= render 'collection_context_brief', collection_document: @portal.collection %>
  <%= render 'more_info_options', document: @portal.collection %>
  <%= render 'shared/harmful_language' %>

<% end %>

<%= content_for :page_title, ['About',
                              @portal.html_title_context,
                              @portal.collection.admin_set_title,
                              application_name].join(' / ') %>
