<% if Ddr::Public.alert_message.present? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled mb-0">
      <li><%= Ddr::Public.alert_message.html_safe %></li>
    </ul>
  </div>
<% end %>
