<% doc = @portal || @document %>

<% content_dm_id = doc.collection.fetch('contentdm_id_ssi', nil) if doc.present? && doc.collection.present? %>

<% if content_dm_id.present? %>
  <div class="col-12 alert alert-success contentdm-alert" role="alert">
    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
    <%= I18n.t('ddr.public.content_dm.alert') %>&nbsp;&nbsp;
    <%= link_to I18n.t('ddr.public.content_dm.button'),
                "#{Ddr::Public.contentdm_url}/collection/#{content_dm_id}/search",
                class: %w[btn btn-primary btn-sm text-decoration-none],
                target: '_blank', rel: 'noopener' %>
  </div>
<% end %>
