<div class="row flush-sides no-gutters">
  <div class="col-12 main-flashes-wrapper">
    <div id="main-flashes">
      <%= render 'shared/show_portal_alert' %>
      <%= render 'shared/alert_messages' %>
      <%= render 'shared/content_dm_search_alert' %>
      <%= yield %>
    </div>
  </div>
</div>
