<!-- feedback link -->
<div id="announcement" role="complementary">

  <div class="feedback-link-wrapper">

    <a class="feedback-link d-inline-block" href="#" data-toggle="modal" data-target="#feedbackModal">
      <%= t('blacklight.footer.help.title') %>
    </a>

  </div>

</div>

<!-- Feedback Modal -->
<div id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" aria-label="Contact Us Modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('blacklight.footer.help.title') %></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <iframe aria-label="Contact Us Form" src="<%= t('blacklight.footer.help.link_html') %>&source_url=<%= request.original_url %>"
          loading="lazy" style="width: 100%; height: 530px; border: none;"></iframe>
      </div>
    </div>

  </div>
</div>

<footer id="footer" role="contentinfo" class="mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-1 mb-3">
        <%= link_to image_tag('footer/dul_devil_gray.png', alt: t('blacklight.footer.library_name')), 'https://library.duke.edu' %>
      </div>
      <div class="col-md-2 mb-3">
        <h2><%= t('blacklight.footer.contact.title_html') %></h2>
        <div>
          <small><%= t('blacklight.footer.contact.address_html') %></small>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <h2><%= t('blacklight.footer.title_html') %></h2>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><a href="<%= t('blacklight.footer.link1.url') %>&source_url=<%= request.original_url %>" target="_blank"><%= t('blacklight.footer.link1.text') %></a></li>
                <li><a href="<%= t('blacklight.footer.link2.url') %>"><%= t('blacklight.footer.link2.text') %></a></li>
                <li><a href="<%= t('blacklight.footer.link3.url') %>"><%= t('blacklight.footer.link3.text') %></a></li>
                <li><a href="<%= t('blacklight.footer.link4.url') %>"><%= t('blacklight.footer.link4.text') %></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-3 mb-3">

        <h2 class="social-media-icons">

          <a href="https://www.linkedin.com/company/duke-university-libraries/" title="LinkedIn" class="fab fa-linkedin"><span class="sr-only"><%= t('blacklight.footer.social.linkedin') %></span></a>

          <a href="https://www.facebook.com/dukelibraries" title="Facebook" class="fab fa-facebook"><span class="sr-only"><%= t('blacklight.footer.social.facebook') %></span></a>

          <a href="https://www.youtube.com/user/DukeUnivLibraries" title="YouTube" class="fab fa-youtube"><span class="sr-only"><%= t('blacklight.footer.social.youtube') %></span></a>

          <a href="https://www.flickr.com/photos/dukeunivlibraries/" title="Flickr" class="fab fa-flickr"><span class="sr-only"><%= t('blacklight.footer.social.flickr') %></span></a>

          <a href="https://instagram.com/dukelibraries" title="Instagram" class="fab fa-instagram"><span class="sr-only"><%= t('blacklight.footer.social.instagram') %></span></a>

          <a href="https://blogs.library.duke.edu/" title="Blogs" class="fas fa-rss-square"><span class="sr-only"><%= t('blacklight.footer.social.blogs') %></span></a>

        </h2>

        <ul class="list-unstyled">
          <li><%= t('blacklight.footer.newsletter_signup_html') %></li>
          <li><%= t('blacklight.footer.reuse_attribution_html') %> / <%= t('blacklight.footer.privacy_html') %></li>
          <li><%= t('blacklight.footer.harmful_language_html') %></li>
          <li><%= t('blacklight.footer.support_html') %></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <div id="duke-logo" class="mb-3">
          <%= link_to image_tag('footer/duke_gray.png', class: 'img-fluid', alt: t('blacklight.footer.institution_name')), 'https://www.duke.edu' %>
        </div>

        <div>
          <% if @document.present? || (@portal.present? && @portal.collection.present?) %>
              <% doc = @document || @portal.collection %>
              <small><a class="btn btn-outline-secondary p-2" href="<%= doc.permanent_url_ssi %>?ui=staff"><%= t('blacklight.footer.admin_login.label') %></a></small>
          <% else %>
              <small><a class="btn btn-outline-secondary p-2" href="<%= t('blacklight.footer.admin_login.link_html') %>"><%= t('blacklight.footer.admin_login.label') %></a></small>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</footer>
