<p class="harmful-language-statement small"><span class="fa fa-info-circle"></span> Some materials and descriptions may include offensive content. <a href="https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions" aria-label="Statement on Potentially Harmful Language in Library Descriptions">More info</a></p>
