<header>
  <nav id="header-navbar" class="navbar navbar-expand-md pt-3" aria-label="Masthead">
    <div class="<%= container_classes %> position-relative">
      <div class="row flex-grow-1">
        <div class="col-12 col-md-5 col-lg-5 col-xl-4 pl-2 pr-0" id="logo-col">
          <a href="https://library.duke.edu" class="navbar-dul">
            <div class="navbar-logo">
              <span class="sr-only">Duke University Libraries</span>
            </div>
          </a>
          <a href="/" class="navbar-product-name text-decoration-none">
            <span class="product-name-primary">
              <%= t('blacklight.branding.primary') %>
            </span>
            <span class="product-name-secondary">
              <%= t('blacklight.branding.secondary_html') %>
            </span>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-5 flex-column mb-2 mt-2 mt-md-0" id="search-col">
          <%= render 'catalog/search_form' %>
        </div>

        <div class="col-12 col-md-1 col-lg-2 col-xl-3 pl-0 pr-0" id="primary-menu">
          <div class="collapse navbar-collapse justify-content-md-end" id="user-utilities">
            <ul class="nav navbar-nav">
              <%= render 'shared/user_util_links' %>
            </ul>
          </div>
        </div>

        <%# Mobile menu button %>
        <div id="mobile-menu" class="d-lg-none mr-2 position-absolute">
          <button type="button" class="mobile-menu-right-toggle navbar-toggle btn collapsed" data-toggle="collapse" data-target="#mobile-only-menu" title="Menu" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
            <span class="sr-only">Menu</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="dul-masthead-row">
  <div class="container">
    <div class="row justify-content-end">
      <div id="dul-masthead-filler"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag \
    'https://library.duke.edu/masthead/load-masthead.js.php?width=1820&fixed=false&div=true',
    defer: true %>

<%= render 'shared/mobile_menu' %>
