<%# Combine top-level nav links from repository menu bar & the DUL shared mast %>
<%# into one, so we have only one hamburger menu. %>
<div id="mobile-only-menu" class="collapse">
  <div class="col">
    <ul class="nav navbar-nav pt-2 pb-2">

      <%= render 'shared/user_util_links_mobile' %>

      <li class="nav-item">
        <a href="https://library.duke.edu/find" class="nav-link">Search &amp; Find</a>
      </li>
      <li class="nav-item">
        <a href="https://library.duke.edu/using" class="nav-link">Using the Library</a>
      </li>
      <li class="nav-item">
        <a href="https://library.duke.edu/research" class="nav-link">Research Support</a>
      </li>
      <li class="nav-item">
        <a href="https://library.duke.edu/course-support" class="nav-link">Course Support</a>
      </li>
      <li class="nav-item">
        <a href="https://library.duke.edu/libraries" class="nav-link">Libraries</a>
      </li>
      <li class="nav-item">
        <a href="https://library.duke.edu/about" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</div>
