<% if @portal && @portal.alert_message %>

  <div class="alert alert-success alert-dismissible portal-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= @portal.alert_message.html_safe %>
  </div>

<% end %>
