  <!-- mobile util links -->
<% if has_user_authentication_provider? %>

  <% if current_user %>

    <li class="nav-item dropdown util-action">
      <a id="my-account-dropdown-mobile" href="#" class="nav-link dropdown-toggle current-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="nav-label-signedin"><%= t('blacklight.header_links.account') %></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="my-account-dropdown-mobile">
        <li class="px-4 py-2 font-weight-semibold">
          <%= current_user.to_s %>
        </li>
        <%= render_nav_actions do |config, action| %>
          <li><%= action %></li>
        <% end %>
          <li class="dropdown-divider"></li>
          <li>
            <%= link_to destroy_user_session_path, title: t('blacklight.header_links.logout'), class: 'dropdown-item' do %>
              <span class="nav-label"><%= t('blacklight.header_links.logout') %></span>
            <% end %>
          </li>
      </ul>
    </li>

  <% else %>
  <li class="nav-item util-action">
    <%= link_to new_user_session_path, class: 'nav-link', title: t('blacklight.header_links.login') do %>
      <span class="nav-label"><%= t('blacklight.header_links.login') %></span>
    <% end %>
  </li>
  <% end %>

  <!-- ask a librarian -->
  <li class="nav-item">
    <a href="https://library.duke.edu/research/ask" class="nav-link ask-a-librarian" title="<%= t('blacklight.header_links.ask_long') %>">
      <span class="nav-label"><%= t('blacklight.header_links.ask_long') %></span>
    </a>
  </li>

<% end %>
