<!-- util links -->
<% if has_user_authentication_provider? %>

  <% if current_user %>

    <li class="dropdown util-action">
      <a id="my-account-dropdown" href="#" class="dropdown-toggle current-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="<%= t('blacklight.header_links.account') %>" title="<%= t('blacklight.header_links.account') %>">
        <span class="nav-label-signedin"><%= t('blacklight.header_links.account') %></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="my-account-dropdown">
        <li class="px-2 text-white font-weight-semibold">
          <%= current_user.to_s %>
        </li>
        <%= render_nav_actions do |config, action| %>
          <li><%= action %></li>
        <% end %>
          <li class="dropdown-divider"></li>
          <li>
            <%= link_to destroy_user_session_path, title: t('blacklight.header_links.logout'), class: 'dropdown-item' do %>
              <span class="nav-label"><%= t('blacklight.header_links.logout') %></span>
            <% end %>
          </li>
      </ul>
    </li>

  <% else %>
  <li class="util-action">
    <%= link_to new_user_session_path, title: t('blacklight.header_links.login'), aria: { label: t('blacklight.header_links.login') } do %>
      <span class="nav-label"><%= t('blacklight.header_links.login') %></span>
    <% end %>
  </li>
  <% end %>

  <!-- ask a librarian -->
  <li>
    <a href="https://library.duke.edu/research/ask" class="ask-a-librarian" title="<%= t('blacklight.header_links.ask_long') %>">
      <span class="nav-label"><%= t('blacklight.header_links.ask') %></span>
    </a>
  </li>

  <!-- trigger dul mast -->
  <li class="full-menu-toggle-wrapper">
    <a href="#" id="full-menu-toggle" class="full-menu" title="<%= t('blacklight.header_links.menu_long') %>">
      <span class="nav-label"><%= t('blacklight.header_links.menu') %></span>
    </a>
  </li>

<% end %>
