<% content_for :submast do %>
  <div id="home-feature" class="col m-0">
    <div class="placard col-md-8 col-lg-7 col-xl-6 mt-3 p-4 text-white">
      <h1 class="main-title font-weight-semibold"><%= t('blacklight.home.title') %></h1>
      <hr class="border border-white">
      <p class="lead tagline"><%= t('blacklight.home.tagline') %></p>

      <div>
        <a class="btn btn-primary" href="https://library.duke.edu/repositories">
          <i class="fas <%= t('blacklight.home.intro_buttons.about_icon_html') %>" aria-hidden="true"></i> &nbsp; <%= t('blacklight.home.intro_buttons.about') %>
        </a>
        <a class="btn btn-success" href="#" data-toggle="modal" data-target="#feedbackModal">
          <i class="fas <%= t('blacklight.home.intro_buttons.contact_icon_html') %>" aria-hidden="true"></i> &nbsp; <%= t('blacklight.home.intro_buttons.contact') %>
        </a>
      </div>
    </div>
  </div>
<% end %>

<div id="home-repositories" class="row">
  <div class="col-lg-6 pr-lg-4 library-collections">
    <h2 class="text-uppercase text-center mb-3">
      <span class="dec-dash" aria-hidden="true">
        <%= t('blacklight.home.subheader.separator_html') %>
      </span>
      <%= t('blacklight.home.subheader.subhead1') %>
      <span class="dec-dash" aria-hidden="true">
        <%= t('blacklight.home.subheader.separator_html') %>
      </span>
    </h2>

    <div class="row">
      <div class="col-md-6 text-center">
        <a href="<%= t('blacklight.home.section1.link_html') %>" class="mb-2">
          <div class="btn-wrapper d-flex flex-row align-items-end digital-collections">
            <div class="btn btn-lg btn-primary w-100 rounded-0 font-weight-semibold">
              <%= t('blacklight.home.section1.display_name') %>
            </div>
          </div>
        </a>
        <p class="lead mt-3"><%= t('blacklight.home.section1.description') %></p>
      </div>

      <div class="col-md-6 text-center">
        <a href="<%= t('blacklight.home.section2.link_html') %>" class="mb-2">
          <div class="btn-wrapper d-flex flex-row align-items-end materials">
            <div class="btn btn-lg btn-primary w-100 rounded-0 font-weight-semibold">
              <%= t('blacklight.home.section2.display_name') %>
            </div>
          </div>
        </a>
        <p class="lead mt-3"><%= t('blacklight.home.section2.description') %></p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 pl-lg-4">
    <h2 class="text-uppercase text-center mb-3">
      <span class="dec-dash" aria-hidden="true">
        <%= t('blacklight.home.subheader.separator_html') %>
      </span>
      <%= t('blacklight.home.subheader.subhead2') %>
      <span class="dec-dash" aria-hidden="true">
        <%= t('blacklight.home.subheader.separator_html') %>
      </span>
    </h2>

    <div class="row">
      <div class="col-md-6 text-center">
        <a href="<%= t('blacklight.home.section3.link_html') %>" class="mb-2">
          <div class="btn-wrapper d-flex flex-row align-items-end rdr">
            <div class="btn btn-lg btn-info w-100 rounded-0 font-weight-semibold">
              <%= t('blacklight.home.section3.display_name') %>
            </div>
          </div>
        </a>
        <p class="lead mt-3"><%= t('blacklight.home.section3.description') %></p>
      </div>

      <div class="col-md-6 text-center">
        <a href="<%= t('blacklight.home.section4.link_html') %>" class="mb-2">
          <div class="btn-wrapper d-flex flex-row align-items-end dukespace">
            <div class="btn btn-lg btn-info w-100 rounded-0 font-weight-semibold">
              <%= t('blacklight.home.section4.display_name') %>
            </div>
          </div>
        </a>
        <p class="lead mt-3"><%= t('blacklight.home.section4.description') %></p>
      </div>
    </div>
  </div>
</div>

<% content_for :subcontent do %>
  <div class="col">
    <hr class="mb-4">
    <%= render 'shared/harmful_language' %>
  </div>
<% end %>

<% content_for :twitter_og_meta do %>
  <meta property="og:description" content="<%= t('blacklight.home.og_meta.description') %>">
<% end %>
