<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="#about" role="tab" data-toggle="tab">About</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#eichelberger" role="tab" data-toggle="tab">Robert L. Eichelberger</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#fetter" role="tab" data-toggle="tab">Frank Whitson Fetter</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#related" role="tab" data-toggle="tab">Related Resources</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content pt-4">

      <div class="tab-pane active" id="about" role="tabpanel">

          <h1>About the Digital Collection</h1>

          <p>This collection of photographs of daily life in the Union of Soviet Socialist Republics is drawn from the personal papers of Robert L. Eichelberger and Frank Whitson Fetter, two ordinary Americans who found themselves in an extraordinary place and time.</p>

          <p><a href="#eichelberger">Eichelberger</a> (1886&ndash;1961), a career military officer, was stationed in Eastern Siberia during the Russian Civil War (1918&ndash;1921) alongside other members of the American Expeditionary Force, which was sent to protect the world from Russian Communism and Japanese militarism.</p>

          <p><a href="#fetter">Fetter</a> (1889&ndash;1991), a professional economist, toured southern Russia in the summer of 1930, during the height of the force-draft industrialization and collectivization campaigns that accompanied the promulgation of the First Five Year Plan (1928&ndash;1932).</p>

          <p>Both men left unique photos of their encounter with ordinary individuals of the self-proclaimed first socialist country in the world. Their images of life in the Soviet provinces between the World Wars reveal an agrarian, multi-ethnic country, still reeling under the impact of the revolutionary forces unleashed at the beginning of the 20th-century.</p>

      </div>

      <div class="tab-pane" id="eichelberger" role="tabpanel">

          <h1>Images from the Robert L. Eichelberger Collection</h1>

          <p>This digital collection of photographs and photo-postcards from the Robert L. Eichelberger Collection at Duke University's David M. Rubenstein Rare Book &amp; Manuscript Library provide unique visual documentation of both American involvement in the Russian Civil War (1918&ndash;1921) and daily life during war-time in an ethnically and religiously diverse region on the border of three major 20th-century powers (Russia, Japan, and China).</p>

          <p class="text-center" style="margin: 1.5em 0 1.5em 0;"><a class="btn btn-primary" href="/dc/esr?f%5Bcreator_facet_sim%5D%5B%5D=Eichelberger%2C+Robert+L.">Browse the images in this collection</a></p>

          <p>General Robert L. Eichelberger (1886&ndash;1961), a 1909 West Point graduate, served with distinction in the U.S. Army, and is perhaps most famous for his role in the occupation of Japan after World War II.  Although the bulk of the 30,000 item collection of personal papers does indeed date from that era, a series of unique and heretofore little-known photographic images of the Russian Civil War in eastern Siberia recall one of the general's earliest assignments.</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph080014830', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph080014830' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>Eichelberger was posted to Siberia in 1918 to serve as assistant chief of staff, Operations Division, and chief intelligence officer with the American Expeditionary Forces (AEF), which was dispatched to Russia by President Woodrow Wilson on a mission that constituted America's first attempt to use its armed forces for peacekeeping purposes.  Over the course of Eichelberger's two-year tour of duty, he oversaw an intelligence network that extended over 5,000 miles into the Ural Mountains.  In his official capacity as America's chief intelligence officer in Siberia, he interviewed (frequently over a bottle of vodka) hundreds of Russians from all walks of life, including "everything from a Baron to a prostitute."  The intelligence gathered through his efforts and the reports generated through his examination of the data, allowed his commanding officer, Lieutenant-General William S. Graves, to determine a consistent American policy amidst "competing signals" from both Washington and the Inter-Allied Military Council, the ten-nation committee composed of American, British, French, and Japanese officers that debated, formulated, and tried to implement a coherent Allied policy for Siberia and eastern Russia between 1918 and 1920.</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph080014320', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph080014320' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>Materials in the Eichelberger Papers that pertain to his participation in the AEF's incursion into Siberia are grouped into two series. The Military Papers Series includes typed letters, handwritten notes, intelligence summaries, memoranda and reports, and leaflets as well as maps. The Picture Series, which is comprised of both photographs and photo-postcards, not only complements the written record of Eichelberger's tour of duty in eastern Siberia, but serves as an important primary source in its own right.  This collection includes two albums of panoramic landscapes and official AEF photos, as well as a much larger assortment of images shot with a small portable camera by Eichelbergerand his fellow officers.  Unlike the album photos, these are much less romanticized images of everyday life in eastern Siberia.  Despite their seemingly more ethnographic nature, however, this second set of photos and photo-postcards is no less ideological than any of the other images in the Eichelberger collection.  Although the temptation to treat them as a somehow more authentic representation of the past is very great, it would be a mistake to do so.  Instead, these photos can be seen as Eichelberger's commentary on the situation in which the American Expeditionary Force in general, and Eichelberger in particular, found himself.</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph080014530', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph080014530' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>Almost from the start, the situations in which the troops of the American Expedition found itself was very complicated, if not completely untenable.  As soon as they arrived in eastern Siberia, American troops realized that the most proximate reason for the White House-initiated incursion, namely, helping the Allies to re-establish an eastern front by providing military assistance to the so-called "Czech Legion" was a fraud.  After only a few months on the ground, Eichelberger came to disagree with the assessment of the mission of American troops in Siberia (that is, the idea that guarding the Siberian railroads would provide economic relief to the Russian people, ensure domestic stability, and increase the changes for the triumph of democracy in Russia).  He reported that the anti-Communist "White" forces used the railroad for their periodic "recruiting expeditions," during which they killed, branded, or tortured any peasant who refused to join their ranks.  Needless to say, these punitive expeditions drove the Russian peasants into the ranks of the Bolsheviks &mdash; a result that "American troops contributed to" by guarding the railroad that made this "oppression" possible.  Eichelberger concluded that the US presence in Siberia provided support to "a rotten, monarchistic" government that "has the sympathy of only a very few of the people."  As early as Oct. 1919, he recommended withdrawal of US troops from Russia because it was a "hot bed of murder and oriental intrigue" and "a dirty place for Americans to be."</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph080013390', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph080013390' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>To a certain extent, this orientalizing discourse about the supposedly-inherent corruption and inferiority of Russian society also found its way into the visual language of some of Eichelberger's photos, particularly those depicting the diverse peoples of eastern Siberia or their exotic modes of transportation (junks, camels, droshki).  In effect, if not in intention, Eichelberger's photos did much more than merely document the multi-ethnic and multi-confessional "reality" of life during the Russian Civil War in eastern Siberia.  By directing his camera at only certain racial types or social situations, Eichelberger took the opportunity to re-assert the superiority of his own nation, gender, and race, if only in the photos that he took, annotated, and included in the letters that he sent home to his adoring wife.  Eichelberger's ability to photograph and thereby to objectify the Oriental "other" allowed him (and other members of the American ExpeditionaryForce) to do nothing less than snatch a symbolic victory out of the jaws of defeat.</p>

          <p style="font-size: 85%">All the quotes from Eichelberger's correspondence are taken from the 1991 Duke University doctoral dissertation of Paul Chwialkowski, entitled "A 'Near Great' General: The Life and Career of Robert L. Eichelberger" (Ph. D., Duke University, 1991), published under the title <em>In Caesar's Shadow: The Life of General Robert Eichelberger</em> [= Contributions in military studies, no. 141] (Westport, Conn.: Greenwood Press, 1993).</p>

      </div>

      <div class="tab-pane" id="fetter" role="tabpanel">

          <h1>Images from the Frank Whitson Fetter Collection</h1>

          <p>Frank Whitson Fetter's photographs of daily life in the Soviet provinces represent an untapped resource to scholars working on a variety of topics, including Russian visual culture, the history of Soviet childhood and everyday life, as well as Russian-American cultural relations in the twentieth-century.</p>

          <p class="text-center" style="margin: 1.5em 0 1.5em 0;"><a class="btn btn-primary" href="/dc/esr?f%5Bcreator_facet_sim%5D%5B%5D=Fetter%2C+Frank+Whitson%2C+1899-1991">Browse the images in this collection</a></p>

          <p>Frank Whitson Fetter (1899&ndash;1991), an American economist, university professor, and government advisor, traveled extensively throughout his lifetime, primarily on matters of business.  In the summer of 1930, he visited two major cities in the Union of Soviet Socialist Republics.  His first stop was Moscow, the capital of the Soviet Union and the Russian Soviet Socialist Federation, from which the Communist Party launched its First Five-Year Plan to industrialize the country and collectivize agriculture, irrespective of the massive social dislocation and organized state violence required to achieve its over-ambitious goals.  However, after only two days in Moscow, "turning over stones &lt;&hellip;&gt; to no avail," Fetter decided to ditch his Intourist guides and venture beyond the usual cities and towns on the official itinerary for foreign visitors.  Instead, Fetter spent the bulk of his two-month trip in and around the city of Kazan, which was then the capitol of the Tatar Autonomous Soviet Socialist Republic and is today the capital city of the Russian Republic of Tatarstan.</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph040011560', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph040011560' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>William Henry Chamberlin, a prominent historian of Russia, had warned Fetter in 1930 "that with the increasing severity of the Stalin regime, the Russians, even Communists in good standing, fearful for their own safety, were beginning to avoid social contacts with foreigners."  Undaunted, the forty-one-year-old American economist persevered and appears to have had little trouble befriending ordinary Soviet citizens.  During his stay in the Soviet Union, he spent "six weeks with a Russian family in Kazan on the Upper Volga," as he wrote, "in a very livable, although not pretentious room all to myself &lt;&hellip;&gt;, and with arrangements to take my meals at a boarding house next door and to take Russian lessons &lt;&hellip;&gt;.  Of course there isn't a radio in every room, or hot or cold running water by the bedside, but the place has electric lights, I can see the Volga from the drawing room of the boarding house, and Kazan is a quiet, and at the same time an almost interesting place."  He noted that "[t]he days in Kazan fly by rapidly and far from suffering from boredom in a place where I am the only American within several hundred miles, I find that when these long summer evenings come there are many things I meant to do that I didn't do."</p>

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrsc110010190', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrsc110010190' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>Although Fetter arrived in Kazan precisely ten years after the official establishment of a Autonomous Tatar Soviet Socialist Republic, he appears to have had no firm itinerary or discernible purpose, besides a desire to record everything he could about his stay in first Socialist country in the world.  An accomplished amateur photographer, Fetter eagerly documented his surroundings.  He toured a veneer factory, a worker's sanatorium, and the recently-organized "Voskhod" collective farm (photo below); visited parks, walked in the woods, swam in the Volga, and studied Russian with a private tutor.   He was even able to take "a week's trip down the Volga sharing a stateroom with a young Ukrainian journalist and his wife, who later made me one of the three principal characters in a somewhat fictionalized book about the trip."   Fetter also wrote many letters and saved notebooks and clippings.  Like a good economist, he noted the prices and availability of goods such as strawberries and candy in the market lines for sugar and cigarettes, as well as the fact that Chinese women made paper toys for children in Kazan.

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph040012180', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph040012180' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p>But it was photography that really excited Fetter.  He fretted over his photos and told his wife that he would only feel he had reached his destination "when I and my photographic material get safely across the frontier."   It is these amateur photos &mdash; taken by an American economist in Kazan in 1930 and preserved at the David M. Rubenstein Rare Book &amp; Manuscript Library at Duke University &mdash; that can be seen in this digital collection of images from the papers of Frank Whitson Fetter.

          <div class="row">

              <div class="card bg-light col-md-6 col-md-offset-3">
                <div class="card-body">
                  <%= item_image_embed({ local_id: 'esrph050012750', size: '!600,600', class: 'img-fluid' }) %>

                  <div class="caption">
                      <%= item_title_link({ local_id: 'esrph050012750' }) %>
                  </div>
                </div>
              </div>

          </div>

          <p style="font-size: 85%">Text adapted from "Images of Soviet Children in the Frank Whitson Fetter Collection" &mdash; an unpublished paper delivered at the 2008 Southern Conference on Slavic Studies by <a href="mailto:jmolich@email.unc.edu">Dr. Jacqueline Olich</a>, Associate Director of the UNC Center for Slavic, Eurasian, and East European Studies. Quotations selected from Fetter's unpublished personal correspondence and his article, "Russia Revisited: Impressions After Forty Years," The South Atlantic Quarterly, Vol. LXXI, No. 1, Winter, 1972, pp. 62&ndash;74.</p>

      </div>

      <div class="tab-pane" id="related" role="tabpanel">

          <h1>Related Resources</h1>

          <p>
              In addition to the Eichelberger and Fetter photographs of early Soviet
              Russia, the David M. Rubenstein Rare Book &amp; Manuscript Library also
              holds several other audiovisual collections on the topic of "Americans in
              the Land of Lenin," two of which have already been digitized:
          </p>
          <ol>
              <li>
              <a
                  href="https://library.duke.edu/rubenstein/findingaids/margolinm/#aspace_ref460_qgn"><b>Morris and Dorothy Margolin film and slide collection</b></a>
              <br>The Morris (1908-1990) and Dorothy (1911-2007) Margolin Film
              Collection includes home movies that capture this American Jewish couple's
              visit to the Soviet Union—a rare destination for ordinary American
              tourists in the 1960s. Their color films of the
              <a href="https://idn.duke.edu/ark:/87924/r4c828v3z">USSR (Moscow, Kiev, Yalta, Sochi)</a>
              are especially noteworthy because Morris often trained his camera on his
              surroundings, recording everyday life as well as architectural and
              geographical features of the countries he visited. These films are
              complemented by a 1967
              <a href="https://idn.duke.edu/ark:/87924/r42r3tb57">documentary film</a>
              acquired by the Margolins on their trip to the Soviet Union; as well as
              361 slides (undigitized) of the USSR taken between 1964 and 1967, in
              various cities around the country (Moscow, Leningrad, Kiev, Sochi, Yalta).
              </li>
              <li>
              <a
                  href="https://repository.duke.edu/dc/gamble?f%5Bspatial_facet_sim%5D%5B%5D=Russia"><b>Sidney D. Gamble's sojourn in Soviet Russia, 1931-1932</b></a><br>Collection includes 57 photographs taken by Sidney D. Gamble
              (1890-1968)—the heir to the Procter &amp; Gamble fortune, an American
              Sinologist, and a pioneering sociologist—during one of the trips that he
              made to the Soviet Union while living and working in China. The photos of
              Gamble's trip to the Soviet Union reveals the same kind of attention to
              social life and culture as his more famous, and more voluminous, photos of
              interbellum China. They also complement Fetter's photos of the everyday
              operations of the Soviet economy, which were taken at the very same time
              as Gamble's, but in another part of the USSR.
              </li>
          </ol>
          <p>
              Other relevant collections (as yet undigitized) include, in chronological
              order:
          </p>
          <ol>
              <li>
              <a href="https://find.library.duke.edu/catalog/DUKE004166205"><b>American Expeditionary Forces Vladivostok photograph album,
                  1918-1920</b></a>. <br>Collection comprises a 7"x10" photograph album,
              containing 81 black-and-white photographs and photo postcards, documenting
              the presence of various military forces in Vladivostok, probably taken or
              collected between 1918 and 1920 by an unidentified soldier in the American
              Expeditionary Force sent to intervene in the Russian Civil War. Images
              include street scenes and landscapes, with some portraits and interior
              scenes; many contain printed or hand-written captions in English. Topics
              include various modes of military transport, especially ships and trains;
              military base scenes, particularly those of the Expeditionary Forces;
              military parades, including Russian and Bolshevik troops; various
              nationalities represented in the city and among the military forces (e.g.,
              Japanese, Chinese, Czech, French, German, and British), as well as
              post-battle images of the dead and later funeral processions.
              </li>
              <li>
              <a href="https://find.library.duke.edu/catalog/DUKE004297190"><b>Raleigh H. Sears photograph collection, 1917-1926 and undated</b></a>
              <br>Raleigh Sears was a member of the American Expeditionary Force,
              stationed in Siberia during World War I. Collection includes photographs
              and postcards from Sears' travels during his military service. Some of
              these are labeled as being from Vladivostok, in Russia; others are of an
              unidentified Asian country, and still others are of Honolulu and
              miscellaneous naval vessels. The majority of the photographs are black and
              white prints or images sized 3.5"x5.5" ; most do not have labels or
              descriptions. There are also 4 panoramas that will require additional
              conservation work: 3 rolled photographs and 1 folded postcard (two
              photographs and the postcard are scenic photographs of Vladivostok; the
              third panoramic photograph is a formal portrait of troops, unlabeled and
              undated). In addition, there are some miscellaneous papers from Sears'
              post-war work on railroads, as well as research and photocopies about his
              military service. <br>In addition, there are some miscellaneous papers
              from Sears' post-war work on railroads, as well as research and
              photocopies about his military service.
              </li>
              <li>
              <a href="https://find.library.duke.edu/catalog/DUKE004625867"><b>"My Siberian Trip": Photograph Album of Mildred Hoover, May 1919</b></a><b><br></b>Hoover was an American Red Cross nurse, b. about 1896 in
              Clearfield, Penna. Despite the title, "My Siberian trip," Hoover's
              photograph album documents two trips she took with Red Cross commissions,
              to Russia in May 1919 and Europe in February 1920. The 440 black-and-white
              photographs measure 2.5" x1.5" or 4"x2.5", and
              document the Red Cross team's travel via the Overland Ltd. rail line in
              the United States, the Trans-Siberian rail line in Asia, and aboard the
              ships Great Northern and Philadelphia. Photographs for the Russian trip
              included images taken in Vladivostok, Verkhne-Udinsk (now Ulan-Ude),
              Berezovka, Harbin, and Bialystok, along with several in Samoa, Japan,
              Manchuria, and various sites in the United States. While in Siberia, the
              commission worked at various camps and hospitals for the American
              Expeditionary forces, but Hoover included photographs of local
              inhabitants, soldiers of various countries, and provided rare images of a
              Russian submarine. During their travels in Europe, the commission stopped
              in London, Antwerp, Warsaw, Krakow, Switzerland, and Paris. Her images
              show that they traveled to many WWI battlefields and burial grounds in
              Belgium and France, orphanages and hospitals in Poland, and that they were
              present during Warsaw's celebration of Poland's victory over the
              Bolsheviks at the Battle of Warsaw. Many photographs feature captions, as
              do several album pages. Acquired as part of the Archive of Documentary
              Arts at Duke University.
              </li>
              <li>
              <a href="https://find.library.duke.edu/catalog/DUKE008012054"><b>Rebecca Matlock photographs, 1980s-2015</b></a>
              <br>Rebecca Matlock (1928-2019) was a photographer, writer, supporter of
              the arts, and wife of former U.S. Ambassador to the Soviet Union, Jack
              Matlock. Collection of approximately 848 color inkjet photographs taken by
              Rebecca Matlock while traveling and living in countries around the world,
              with a special focus on landscapes, art, architecture, people, politics,
              and culture. Over half of the collection (i.e. over 400 photographs)
              features images from the former Soviet Union during the Gorbachev
              administration (1980s-1990s), including Central Asia, the Republic of
              Buryatia, the Ukraine, and Moscow. Notable subjects include the
              Gorbachevs, Reagans, Bushes, and the Shevardnadzes, several secretaries of
              state, politicians, religious leaders, and military officials. Many of
              these images were taken at Spaso House, the Ambassador's residence in
              Moscow. Other subjects include artists, writers, religious leaders,
              workers in the space program compounds, and dissident and scientist Andrei
              Sakharov. Included is one large color photobook of the US/USSR Summit in
              1988. Other series include: the Republic of Georgia and Tbilisi during and
              after the civil war. There are smaller groups from the Baltic States.
              There are also caption cards and title sheets from exhibits of her
              photographic work. The collection is arranged by the following bodies of
              work or exhibits: Baltic States; Russia and Other Regions, divided into 11
              sub-series.
              </li>
              <li>
              <a href="https://find.library.duke.edu/catalog/DUKE009948858"><b>Anne Noggle photographs of Soviet airwomen, 1990-1992</b></a>
              <br>35 photographs of portraits of Soviet Airwomen taken by Anne Noggle
              (1922-2005), herself an American Woman Airforce Service Pilot in World War
              II. Noggle made lengthy visits to Moscow between 1990 and 1992 (straddling
              the collapse of the USSR in 1991) to conduct more than seventy interviews
              and to photograph Soviet women airforce veterans. The photographs range in
              size from 20"x24", 16"x20", and 11"x14". All gelatin silver prints,
              printed by Anne Noggle. Most of the images appeared in her 1994 book
              <a href="https://find.library.duke.edu/catalog/DUKE001610666"><i>A Dance with Death: Soviet Airwomen in World War II</i></a>.
              </li>
              <li>
              <a
                  href="https://archives.lib.duke.edu/catalog/hoffmanmerle_aspace_ref1711_lxj"><b>Merle Hoffman photos of early-post-Soviet Moscow, 1990s</b></a>
              <br>The papers of Merle Hoffman (b. 1946), an abortion rights activist
              and feminist publisher, include photographs of her trip to Moscow in the
              early 1990s. These photos document the Choices East Project, Hoffman's
              ultimately unsuccessful attempt to establish a women's health clinic in
              the former Soviet capitol. The color photos document her "Visit to Moscow"
              (1992), "The Russia Team," and the condition of Russian operating rooms
              (1992).
              </li>
          </ol>

      </div>
  </div>

  <% content_for(:sidebar) do %>
    <%= render 'shared/about_sidebar' %>
  <% end %>
<% end %>
