<%# DUL CUSTOM override of component in blacklight-gallery plugin %>
<%# to render only the thumbnail & title, no other metadata.      %>
<%# See: %>
<%# https://github.com/projectblacklight/blacklight-gallery/blob/main/app/components/blacklight/gallery/document_component.html.erb %>

<% component = Blacklight::VERSION > '8' ?
  Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @presenter, counter: @counter) :
  Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @document, presenter: @presenter, counter: @counter)
%>
<%= render(component) do |component| %>
  <% component.with_body do %>
    <div class="thumbnail-container">
      <%= thumbnail %>

      <div class="caption-area">
        <div class="caption container">
          <%= title %>
          <%# DUL CUSTOMIZATION: don't render any metadata other than title -%>
          <%#= content %>
          <%#= metadata %>
          <%# metadata_sections.each do |section| %>
            <%#= section %>
          <%# end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
