<% bibsys_id = document['bibsys_id_ssi'].presence %>
<% if bibsys_id.present? %>
  <div id="view-details-catalog">
    <%= link_to t('ddr.public.catalog_link'),
                "#{Ddr::Public.catalog_url}#{bibsys_id}",
                id: 'catalog-link' %>
  </div>
<% end %>
