<%# This is used by unconfigured DC collections and non-DC collections %>

<div class="col-12 collection-start collection-submast">
  <h1 id="collection-title" class="mb-2"><%= document.title_ssi %></h1>

  <% if document.abstract.present? %>
    <div class="collection-abstract"><%= simple_format(document.abstract) %></div>
  <% end %>

  <% if document.item_count > 1 %>
    <%= link_to collection_browse_items_url(document), class: 'btn btn-primary mt-3 mb-3',
                                                       id: 'browse-all-items-btn' do %>
      Browse all <strong><%= number_with_delimiter(document.item_count) %></strong> Items
    <% end %>
  <% end %>

  <%= render 'home_showcase_link_list', document: document %>
</div>
