<% if show_collection_results? %>
  <% collections = find_collection_results %>
  <div class="card bg-light mb-4 collection-matches-container">
    <div class="card-body pb-1">
      <% if collections.fetch(:count) > 3 %>
        <% path = search_state.add_facet_params_and_redirect('common_model_name_ssi', 'Collection') %>
        <h2 class="h4"><%= link_to "Matching Collections (#{number_with_delimiter(collections.fetch(:count))}) &raquo;".html_safe,
                                   path %></h2>
      <% else %>
        <h2 class="h4">Matching Collections (<%= collections.fetch(:count) %>)</h2>
      <% end %>
      <div id="matching-collections" class="row gallery horizontal-gallery">
        <%= render_document_index_with_view('gallery', collections.fetch(:docs)[0..2]) %>
      </div>
    </div>
  </div>

  <% content_for :skip_links do %>
    <%= link_to 'Skip to matching collections', '#matching-collections', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
  <% end %>
<% end %>
