<div>
  <%= document.content_size_human_ssim&.first %> &mdash; <%= default_mime_type_label(document.content_mime_type) %> <span class="text-muted small">(<%= document.content_mime_type %>)</span>
</div>
