<% if derivatives.present? && cached_read_current_ability(@document) %>
  <%# NOTE: This partial is used for Items and Components alike.
    Items can be audio or video, and can include single or multiple
    Component parts w/AV media. TODO: This is ripe for refactoring
    and moving some of this logic into a helper. %>

  <div id="jwplayer-element">Loading the media player...</div>
  <div class="mb-4"></div>

  <% @derivcount = derivatives.count %>

  <%# Instantiate JW Player with a playlist. Single-component A/V is %>
  <%# also treated as a playlist with one item. %>

  <script>
    var playerInstance = jwplayer("jwplayer-element");
    playerInstance.setup({
          width: "<%= width %>",
        <% if local_assigns[:height].present? %>
          height: "<%= height %>",
        <% end %>
        <% if local_assigns[:aspectratio].present? %>
          aspectratio: "<%= aspectratio %>",
        <% end %>
          nextUpDisplay: false,

        skin: {
          name: "seven",
          active: "#a1b70d",
          inactive: "white",
          background: "#333"
        },
        playlist: [
          <% derivatives.each_with_index do |url, index| %>
            {
                file: "<%= url.html_safe %>",
              <% if local_assigns[:media_type].present? %>
                type: "<%= media_type %>",
              <% end %>

              <%# Poster Frame %>
              <% unless thumbnail_icon?(@document) %>
                <% if index == 0 %>
                  image: "<%= thumbnail_path(@document) %>",
                <%- end -%>
              <%- end -%>

              <%# Captions %>
              <% if @document.captions_urls.present? %>
                tracks: [
                  {
                    file: "<%= @document.captions_urls[index]&.html_safe %>",
                    kind: "captions"
                  }
                ],
              <% end %>
                title: "<% if @derivcount > 1 %>Part <%= index + 1 %> of <%= @derivcount %><% end %>"
            }<% unless url == derivatives.last %>,<% end %>
          <% end %>
        ]
    });

    <%# Trigger events that Matomo Event Tracking listeners can detect %>
    <%# https://developer.jwplayer.com/jw-player/docs/developer-guide/api/javascript_api_reference/ %>
    playerInstance.on('play', function(){
      if(playerInstance.getPosition() == 0) { <%# only track if play from beginning of file %>
        $('#jwplayer-element').trigger('play');
      }
    });
    playerInstance.on('complete', function(){
      $('#jwplayer-element').trigger('complete');
    });
    playerInstance.on('seeked', function(){
      $('#jwplayer-element').trigger('seeked');
    });
    playerInstance.on('fullscreen', function(){
      $('#jwplayer-element').trigger('fullscreen');
    });
    playerInstance.on('playlistItem', function(){
      if(playerInstance.getPlaylistIndex() > 0) {
        $ ('#jwplayer-element').trigger('playlist-item-change');
      }
    });
    playerInstance.on('playlistComplete', function(){
      if(playerInstance.getPlaylist().length > 1) {
        $('#jwplayer-element').trigger('playlist-complete');
      }
    });

    <%# Accessibility: don't allow the individual buttons to be %>
    <%# keyboard navigable (because they don't work that way).  %>
    <%# JWPlayer has its own notions of how keyboard nav should %>
    <%# happen, with Enter, Space, arrows, c, f, m, & 0-9. See: %>
    <%# https://docs.jwplayer.com/platform/docs/players-web-player-accessibility#keyboard-accessibility %>
    playerInstance.on('ready', function(){
      $('#jwplayer-element .jw-icon').attr('tabindex', -1);
    });

    <%# If there are multiple A/V derivatives, use JS API to navigate %>
    <%# playlist with external controls. %>
    <%# See https://developer.jwplayer.com/jw-player/docs/developer-guide/api/javascript_api_reference/#playlist %>

    <% if @derivcount > 1 %>
      playerInstance.on('ready', function(){
        $('ul.av-playlist-pagination li a').click(function(e){
          e.preventDefault();
          if(!$(this).hasClass("disabled")) {
            playerInstance.playlistItem($(this).data('index'));
          }
        });
      });

      playerInstance.on('playlistItem', function(){
        $('ul.av-playlist-pagination a').each(function(){
          $(this).removeClass('now-playing');
          if($(this).attr('data-index') == playerInstance.getPlaylistIndex()) {
            $(this).addClass('now-playing');
          }
        });

        $('.av-embed-playlist-now-playing').text( playerInstance.getPlaylistIndex() + 1);

      });
    <% end %>
  </script>

  <% if @derivcount > 1 %>
    <nav id="av-playlist-nav" class="mb-4" aria-label="Navigation for multi-part media">
      <ul class="pagination av-playlist-pagination">
        <li class="page-item disabled">
          <a href="#" class="page-link disabled">Part: </a>
        </li>
        <% derivatives.each_with_index do |url,index| %>
          <li class="page-item">
            <a href="<%= url %>" class="page-link" data-index="<%= index %>"><%= index + 1 %></a>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <%# HTML5 <video> or <audio> tag fallback: uses native browser media player without javascript %>

  <noscript>
    <h2>Files for this Item</h2>

    <% derivatives.each_with_index do |url,index| %>
      <%= content_tag media_mode, controls: '', width: '100%' do %>
          <source src="<%= url %>" type="<%= media_type %>">
        <% if @document.captions_urls.present? %>
          <track kind="captions" src="<%= @document.captions_urls[index] %>" label="Captions" default>
        <% end %>
      <% end %>
    <% end %>

  </noscript>

  <% if @document.captions_urls.present? %>
    <%= render 'display_interactive_transcript' unless is_embed? %>
  <% end %>

  <%= render 'timecode_links' %>

<% end %>
