<% if cached_read_current_ability(@document) %>

  <% if @document.first_multires_image_file_ark.present? %>
    <noscript>
      <%= render 'show_image_derivative', identifier: document.first_multires_image_file_ark %>
    </noscript>

    <%# --------------------------- %>
    <%#   Multi-Page Image Items    %>
    <%# --------------------------- %>

    <% if has_two_or_more_multires_images?(@document) %>

      <%# For search engine indexing & graceful degradation, %>
      <%# render links to all the images %>

      <noscript>
        <h2>Images for this Item</h2>
        <ul>
          <% document.multires_image_file_arks.each do |identifier| %>
            <li><%= link_to identifier, iiif_image_path(identifier, size: '!850,850') %></li>
          <% end %>
        </ul>
      </noscript>

    <% end %>

    <%# ------------------------------------ %>
    <%#   Multi-Res (Has One or More PTIFs)  %>
    <%# ------------------------------------ %>

    <% if image_arks = document.multires_image_file_arks %>
      <%= render 'item_options', imagecount: image_arks.length %>
      <%= render 'show_mirador', aspectratio: image_item_aspectratio(document), imagecount: image_arks.length %>
    <% end %>

    <% content_for :twitter_og_meta do %>
      <meta name="twitter:card" content="summary_large_image">
      <meta property="og:image" content="<%= iiif_image_path(document.first_multires_image_file_ark, { size: '!850,850' }) %>">
      <meta property="og:image:alt" content="<%= @document.title_ssi %>">
      <meta name="twitter:image:alt" content="<%= @document.title_ssi %>">
    <% end %>
  <% end %>

<% elsif user_signed_in? %>
  <%= render 'read_not_authorized', document: document %>
<% else %>
  <%= render 'read_restricted', document: document %>
<% end %>

<%= render 'show_default', document: document %>
