<%# Use the browser-native PDF viewer without any extra JS viewers -%>
<object data="<%= download_url(document.id, inline: true) %>" type="application/pdf" width="100%" height="800" class="mb-3">
  <p><a href="<%= download_url(document.id) %>">Download the PDF</a></p>
</object>
