<div class="dropdown">
  <a id="download-transcript-dropdown" class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" href="#" aria-expanded="false" aria-label="Download transcript">
    <i class="fa-solid fa-download"></i>
  </a>
  <ul id="download-transcript-menu" class="dropdown-menu" aria-labelledby="download-transcript-dropdown">
    <li class="py-2 px-4 text-muted">Download transcript as:</li>

    <%# Single component show, or single-component item show %>
    <% if @document.captions_urls.length == 1 %>
    <li>
      <a download="" class="dropdown-item" href="<%= File.join(@document.captions_urls.first, 'txt') %>">
        <img alt="text icon" src="<%= asset_path 'ddr-icons/txt.png' %>" width="20" height="20">
        Text
      </a>
    </li>
    <li>
      <a download="" class="dropdown-item" href="<%= File.join(@document.captions_urls.first, 'pdf') %>">
        <img alt="pdf icon" src="<%= asset_path 'ddr-icons/pdf.png' %>" width="20" height="20">
        PDF
      </a>
    </li>
    <li>
      <a download="" class="dropdown-item" href="<%= @document.captions_urls.first %>">
        <img alt="code icon" src="<%= asset_path 'ddr-icons/code.png' %>" width="20" height="20">
        WebVTT <small class="text-muted">(includes timecodes)</small>
      </a>
    </li>
    <% end %>

    <%# Multi-component item show w/captions, render a different menu %>
    <% if @document.captions_urls.length > 1 %>
      <li class="dropdown-submenu">
        <a href="#" class="dropdown-item"><img alt="code icon" src="<%= asset_path 'ddr-icons/txt.png' %>" width="20" height="20"> Text</a>
        <ul class="dropdown-menu">
          <% @document.captions_urls.each_with_index do |captions_url, index| %>
            <li>
              <a class="dropdown-item" download="" href="<%= File.join(captions_url, 'txt') %>">
                Part <%= index + 1 %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a href="#" class="dropdown-item"><img alt="code icon" src="<%= asset_path 'ddr-icons/pdf.png' %>" width="20" height="20"> PDF</a>
        <ul class="dropdown-menu">
          <% @document.captions_urls.each_with_index do |captions_url, index| %>
            <li>
              <a class="dropdown-item" download="" href="<%= File.join(captions_url, 'pdf') %>">
                Part <%= index + 1 %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a href="#" class="dropdown-item"><img alt="code icon" src="<%= asset_path 'ddr-icons/code.png' %>" width="20" height="20"> WebVTT <small class="text-muted">(includes timecodes)</small></a>
        <ul class="dropdown-menu">
          <% @document.captions_urls.each_with_index do |captions_url, index| %>
            <li>
              <a class="dropdown-item" download="" href="<%= captions_url %>">
                Part <%= index + 1 %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>

    <% end %>

  </ul>
</div>
