<div class="tab-pane tr-pane<% if tr_index == 0 %> active<% end %>" id="tr-<%= tr_index %>" data-track="<%= tr_index %>">
  <table class="table table-sm captions-table">
    <% caption_contents(caption_file).cues.each_with_index do |cue, cue_index| %>
      <% cue_lines(cue.text).each_with_index do |line, line_index| %>
	<tr class="tr-cue"<% if line_index == 0 %> id="tr-<%= tr_index %>-cue-<%= cue.start_in_sec.to_i %>-<%= cue_index %>"<% end %> data-jump-sec="<%= cue.start_in_sec.to_i %>" tabindex="0">
	  <td class="tr-voice"><%= cue_speaker(line) %></td>
	  <td class="tr-text"><%= clean_cue_text(line) %></td>
	  <td class="tr-time">
	    <% if line_index == 0 %>
	      <%= display_time(cue.start_in_sec.to_i) %>
	    <% end %>
	  </td>
	</tr>
      <% end %>
    <% end %>
  </table>
</div>
