<% cache("interactive_transcript_#{@document.id}", expires_in: 30.minutes) do %>
  <div>
    <a class="sr-only sr-only-focusable" href="#item-info">Skip to item info</a>
  </div>

  <h2 class="feature-head float-left mr-3">Transcript</h2>
  <%= render 'display_interactive_transcript_menu' %>

  <div class="text-muted small text-right">Transcripts may contain inaccuracies.</div>

  <ul class="nav nav-tabs d-none" id="interactive-transcript-tabs" aria-hidden="true">
    <% @document.caption_files.each_with_index do |_caption_file, index| %>
      <li class="nav-item">
        <a class="nav-link" href="#tr-<%= index %>"><%= index + 1 %></a>
      </li>
    <% end %>

    <%# If an item has more derivatives than captions, render a tab -%>
    <% if @derivcount > @document.caption_files.length %>
      <li class="nav-item">
        <a class="nav-link" href="#tr-missing">Missing</a>
      </li>
    <% end %>
  </ul>

  <div id="interactive-transcript" class="collapsed">
    <div class="tab-content">
      <% @document.caption_files.each_with_index do |caption_file, tr_index| %>
        <% begin %>
          <%= render 'display_interactive_transcript_pane', caption_file: caption_file, tr_index: tr_index %>
        <% rescue => e %>
          <% Rails.logger.error { "#{e.message} #{e.backtrace.join("\n")}" } %>
          <div class="alert alert-info tab-pane tr-pane<% if tr_index == 0 %> active<% end %>" id="tr-<%= tr_index %>">There was a problem loading the transcript file.</div>
          <% next %>
        <% end %>
      <% end %>

      <%# If an item has more derivatives than captions, render a tab & pane        -%>
      <%# to display while playing a file without a caption. NOTE: due to the       -%>
      <%# current implementation of captions_paths we do not have a way to tell     -%>
      <%# which components are missing captions; we have to assume it is the one(s) -%>
      <%# at the end of the sequence. If a first or middle component of a captioned -%>
      <%# item is missing a caption file, the best current solution is to provide a -%>
      <%# blank one. %>
      <% if @derivcount > @document.caption_files.length %>
        <div class="tab-pane tr-pane" id="tr-missing">
          <p class="text-muted m-4"><i class="fa fa-info-circle"></i> There is no transcript available for this part.</p>
        </div>
      <% end %>
    </div>
  </div>

  <div id="interactive-transcript-expand" class="text-center">
    <a class="btn btn-secondary btn-sm collapsed" href="#" role="button" id="transcript-expand" data-state="collapsed" aria-label="expand transcript"></a>
  </div>

<% end %>

<script>
  $(function () {

    <%# Expand & collapse interactive transcript %>
    $("#transcript-expand").click(function(e) {
      e.preventDefault();
      if ($(this).hasClass('collapsed')) {

        $('#interactive-transcript').animate({
            height: $('#interactive-transcript').get(0).scrollHeight
        }, 1500, function(){
            $(this).height('auto');
        });
        $(this).data('state','expanded');
      } else {
        $('#interactive-transcript').animate({ height: 300 }, 1500 );
        $(this).data('state','collapsed');
      }
      $(this).toggleClass("collapsed");
    });

    <%# Change the transcript showing when the playlist's current track changes %>
    jwplayer().on('playlistItem', function(e){
      current_track = jwplayer().getPlaylistIndex();
      current_transcript_id = "#tr-"+current_track;
      if (current_track + 1 > <%= @document.caption_files.length %>) {
        $('#interactive-transcript-tabs.nav-tabs a[href="#tr-missing"]').tab('show');
      } else {
        $('#interactive-transcript-tabs.nav-tabs a[href="' + current_transcript_id + '"]').tab('show');
      }
    });

    <%# Jump the player to the point in the transcript clicked %>
    <%# Make the entire cue row clickable %>
    $('.tr-cue').click(function(e) {
      e.preventDefault();
      seconds = $(this).data('jump-sec');
      cue_track = $(this).closest('.tr-pane').data('track');

      if (jwplayer().getState() !== 'playing') {
        jwplayer().stop;
        jwplayer().playlistItem(cue_track);
      }

      jwplayer().seek(seconds);

    });

    <%# Respond to keyboard "enter" key when row has focus. %>
    <%# Make this trigger the click event.                  %>
    $('.tr-cue').keypress(function(e){
      if(e.which === 13)
         $(this).click();
    });

    <%# Highlight the currently-playing cue while media plays %>
    jwplayer().on('time', function(e) {
      current_track = jwplayer().getPlaylistIndex();
      seconds = Math.floor(e.position);

      $("#interactive-transcript tr[id^=tr-" + current_track + "-cue-" + seconds + "-]").each(function(){
        $('.tr-cue').removeClass('current-cue'); // clear any previously matched cues
        $(this).addClass('current-cue');
      });
    });

  });

</script>
