<% if @document['common_model_name_ssi'] == 'Item' %>
  <div class="text-muted text-uppercase small">This Item</div>
<% elsif @document['common_model_name_ssi'] == 'Component' %>
  <div class="text-muted text-uppercase small">Item</div>
  <% if @document.item.present? %>
    <p class="font-weight-bold"><%= link_to_document @document.item, @document.item.title_ssi, id: 'parent-item' %></p>
  <% else %>
    <p class="font-weight-bold">Item Missing</p>
  <% end %>
  <div class="vertical-model-separator">
    <span class="fas fa-map-marker-alt"></span>
  </div>
  <div class="text-muted text-uppercase small">This File</div>
<% end -%>
