<%# DUL CUSTOM override of BL core partial. %>
<%# There appears to be a bug (as of 7.33.0) where the ShowPresenter is %>
<%# getting used even in the context of a list of docs presented within a %>
<%# show page (e.g., via render_document_index for child components list) %>
<%# In these cases we need to use the IndexPresenter to get only the desired %>
<%# metadata fields to render. %>

<%# To get this working, we replace this: %>
<%# presenter: document_presenter(document) %>
<%# presenter: view_config.document_presenter_class.new(document, controller.view_context) %>

<%# https://github.com/projectblacklight/blacklight/blob/v7.35.0/app/views/catalog/_document.html.erb %>

<%# container for a single doc -%>
<% view_config = local_assigns[:view_config] || blacklight_config.view_config(document_index_view_type) %>
<%= render (view_config.document_component || Blacklight::DocumentComponent).new(presenter: view_config.document_presenter_class.new(document, controller.view_context), counter: document_counter_with_offset(document_counter)) do |component| %>
  <% component.public_send(view_config.document_component.blank? && view_config.partials.any? ? :with_body : :with_partial) do %>
    <%= render_document_partials document, view_config.partials, component: component, document_counter: document_counter %>
  <% end %>
<% end %>
