<% if @document['common_model_name_ssi'] == 'Collection' %>
  <div class="text-muted text-uppercase small">This Collection</div>
<% else %>
  <div class="text-muted text-uppercase small">Collection</div>
  <% if @document.collection.present? %>
    <p class="font-weight-bold"><%= link_to_document @document.collection, @document.collection.title_ssi, id: 'parent-collection' %></p>
    <% if @document.collection.abstract.present? %>
      <p class="small"><%= truncate(@document.collection.abstract_ssi, length: 180, separator: ' ') %></p>
    <% end %>
  <% else %>
    <p class="font-weight-bold">Collection Missing</p>
  <% end %>
  <div class="vertical-model-separator">
    <span class="fas <%= @document['common_model_name_ssi'] == 'Item' ? 'fa-map-marker-alt' : 'fa-circle' %>"></span>
  </div>
<% end -%>
