<%= link_to icon('fas', 'lock', 'Login to Download'), new_user_session_path, class: 'btn btn-sm btn-info', data: { container: 'body', toggle: 'popover', content: 'Access to this file is restricted to authorized users and groups. Log in to verify authorization to download.' } %>
<%= render 'component_type_and_size', document: document %>
