<div id="download-request">
  <%= link_to t('ddr.public.request_download'),
              Ddr::Public.download_request_form,
              target: '_blank',
              id: 'bulk-download-link', rel: 'noopener' %>
</div>
