<%= render_download_link(document: document,
                         label: 'Download',
                         css_class: 'btn btn-success btn-file-download',
                         data: {
                          matomo_permanent_id: matomo_permanent_id(document),
                          matomo_admin_set: matomo_admin_set(document),
                          matomo_collection: matomo_collection(document),
                          matomo_item: matomo_item(document),
                          turbolinks: false }) %>

<%= render 'component_type_and_size', document: document %>
