<% if research_guide = research_guide(document.relation) %>
  <ul id="showcase-link-list">
    <li><%= link_to(I18n.t('ddr.public.showcase_links.research_guide'),
                    research_guide, class: 'font-weight-semibold') %></li>
  </ul>
<% end %>
