<h1><%= t("ddr.public.portal.#{controller_name}.title", default: t('blacklight.welcome')) %></h1>

<p><%= t("ddr.public.portal.#{controller_name}.about", default: "The Duke Digital Repository (DDR) provides access to digitized historic photographs, advertisements, texts and other resources from Duke's unique library collections, in addition to digital materials licensed or purchased by the library, including e-books, data sets, and more.") %></p>

<p>For further information or assistance please contact <%= mail_to Ddr::Public.contact_email, Ddr::Public.contact_email, class: 'underlined-link', subject: t('ddr.public.contact.subject') %>.</p>
