<div class="iiif-manifest-link d-flex">
  <%= link_to iiif_presentation_url(iiif_presentation_url_params(document)),
              class: 'd-flex align-items-center',
              rel: 'nofollow noindex' do %>
    <%= image_tag('ddr-icons/iiif-logo-sm.png',
                  alt: 'IIIF logo',
                  aria: { label: 'IIIF' },
                  size: '17x15') %>
    <span class="mx-1">Manifest</span>
    <a href="https://iiif.io/get-started/how-iiif-works/" data-toggle="tooltip" title="Learn more about IIIF" aria-label="Learn more about IIIF">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  <% end %>
</div>
