<% if is_item?(@document) && cached_read_current_ability(@document) %>
  <div id="item-options">
    <ul class="nav item-options">
      <% if defined?(imagecount) %>
        <%= render 'item_options_imagecount', local_assigns %>
      <% end %>
      <%= render 'item_options_download', local_assigns %>
      <%= render 'item_options_files', local_assigns if @document.structures.files.present? %>
      <%= render 'item_options_search_inside' %>
      <%= render 'item_options_share', locals: local_assigns %>

      <li class="nav-item align-self-center">
        <a class="nav-link btn btn-link px-3 py-2 sr-only sr-only-focusable" href="#item-info">
          Skip to Item Info
        </a>
      </li>
    </ul>
  </div>
<% end %>
