<li class="dropdown nav-item">
  <a id="share-dropdown" class="dropdown-toggle btn btn-link nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
    <i class="fa-solid fa-share-nodes"></i> Share
  </a>
  <div id="share-menu" class="dropdown-menu" aria-labelledby="share-dropdown">
    <% if embeddable?(@document) %>
      <div class="dropdown-header">Embed Code</div>
      <%= render 'catalog/embed/embed_code_copyable', document: @document %>
    <% end %>
    <div class="dropdown-header">Permalink</div>
    <div>
      <textarea id="copyable-permalink" class="form-control" rows="1" aria-label="copyable permalink"><%= purl_or_doclink(@document) %></textarea>
    </div>
    <% if @document.display_iiif_link? %>
      <div class="mt-3">
        <%= render 'iiif_manifest_link', document: @document %>
      </div>
    <% end %>
  </div>
</li>
