<% if derivatives.present? %>
  <li class="dropdown-header">Files (<%= derivatives.length %>)</li>
  <% derivatives.each_with_index do |d, index| %>
    <li>
      <%= link_to(d, download: '', class: 'dropdown-item') do %>
        <%= image_tag(default_thumbnail_path(@document), size: '20', alt: @document.display_format_ssi) %>
        <%= derivative_file_extension(@document).upcase %>
        <% if derivatives.length > 1 %>
          <span class="small text-muted">
            Part <%= index + 1 %>
          </span>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <li class="dropdown-divider"></li>

  <li class="py-2 px-4 small text-muted font-italic">
    Please be patient with media downloads. They are often large files.
  </li>
<% end %>
