<% if @document.fetch('contentdm_id_ssi', nil).present? %>
  <li class="dropdown nav-item">
    <a id="search-inside-dropdown" class="dropdown-toggle btn btn-link nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
      <i class="fa fa-search"></i> <%= t('ddr.public.search_inside_dropdown.menu_label') %>
    </a>
    <ul id="search-inside-menu" class="dropdown-menu" aria-labelledby="search-inside-dropdown">
      <li><%= link_to_search_inside_full_text(@document) %></li>
      <li><%= link_to_search_inside_pdf(@document) %></li>
    </ul>
  </li>
<% end %>
