<% if has_two_or_more_multires_images?(@document) && @document.derived_image_file_paths.present? %>
  <li class="dropdown-header">All Images <span class="text-muted">(<%= imagecount %>)</span></li>
  <li><%= image_export_button(@document, { format: 'pdf', label: 'PDF' }) %></li>
  <li><%= image_export_button(@document, { format: 'zip', label: 'ZIP File of JPGs' }) %></li>
  <li class="dropdown-header">Currently Displayed Image</li>
<% end %>

  <li><%= image_download_link(@document, { pixels: 400, id: 'download-small', linklabel: 'Small JPG' }) %></li>
  <li><%= image_download_link(@document, { pixels: 800, id: 'download-med', linklabel: 'Medium JPG' }) %></li>
  <li><%= image_download_link(@document, { pixels: 1200, id: 'download-lrg', linklabel: 'Large JPG' }) %></li>
  <li><%= image_download_link(@document, { id: 'download-full', linklabel: 'Full-Res JPG' }) %></li>

  <li class="dropdown-divider"></li>

  <li class="py-2 px-4 small text-muted font-italic">
    <%= t('ddr.public.image_export.be_patient') %>
  </li>
