<% if @document.display_format_ssi =~ /audio|folder|image|video/ %>
  <li class="dropdown nav-item">
    <a id="download-dropdown" class="dropdown-toggle btn btn-link nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
      <i class="fa-solid fa-download"></i> Download
    </a>

    <ul id="download-menu" class="dropdown-menu" aria-labelledby="download-dropdown">
    <% if @document.rights.present? %>
      <li class="dropdown-header pt-0 pb-1">Rights</li>
      <li>
        <div class="rights-display-download py-2 px-4">
          <%= rights_display(document: @document) %>
          <% if @document.rights_notes.present? %>
            <div class="small mt-1">
              <a href="#info">More Rights Info</a>
            </div>
          <% end -%>
        </div>
      </li>
      <li class="dropdown-divider"></li>

      <% end %>

      <%= render "item_options_download_#{@document.display_format_ssi}", local_assigns %>
    </ul>
  </li>
<% end %>
