<% files_count = @document.structures.files.count %>

<li class="dropdown nav-item">
  <a id="file-dropdown" class="btn btn-link nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
    <% label = document_dropdown_label(@document) %>
    <i class="fa fa-file-o"></i> <%= files_count > 1 ? label.pluralize : label %>
  </a>
  <ul id="file-menu" class="dropdown-menu" aria-labelledby="file-dropdown">
    <% @document.structures.files.each do |file| %>
      <% if file[:doc].format.present? && files_count > 1 %>
        <li class="dropdown-header"><%= file[:doc].format.join(' ') %></li>
      <% elsif files_count > 1 %>
        <li class="dropdown-header"><%= t('ddr.public.document_dropdown') %></li>
      <% end %>
      <li>
        <%= link_to(document_or_object_url(file[:doc]), class: 'dropdown-item') do %>
            <%= image_tag(default_thumbnail_path(file[:doc]), size: '20', alt: file[:doc].content_mime_type) %>
              <%= truncate(file[:doc].title_ssi, length: 60) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
