<% if imagecount > 1 %>
  <li class="nav-item">
    <a class="btn btn-link nav-link" href="#" id="imagecount-indicator">
      <%= icon(*@document.display_format_icon) %> <%= imagecount %> images
    </a>
  </li>
<% end %>
