
<% if display_more_info_options?(document) %>
  <div id="more-info-options" class="mb-3">
    <h2 class="h5">More Info &amp; Options</h2>

    <%= render 'show_finding_aid_links', document: document %>
    <%= render 'catalog_link', document: document %>
    <%= render 'download_request' if is_collection?(document) %>
    <% if document.display_iiif_link? -%>
      <%= render 'iiif_manifest_link', document: document %>
    <% end %>

    <hr class="collection-context-separator mt-3"/>
  </div>
<% end %>
