<%= t('ddr.public.read_restricted_html',
          href: link_to(raw(t('ddr.public.read_restricted_html_href')),
                        new_user_session_path,
                        target: ('_blank' if is_embed?)),
          contact: link_to(read_not_authorized_contact_name(research_help),
                           read_not_authorized_contact_url(research_help),
                           target: ('_blank' if is_embed?))) %>
