<div id="inlineViewerRestriction" class="alert alert-info">
  <% research_help = get_research_help(document) %>
  <p>
    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
    <%= render "read_restricted_#{research_help.partial}", research_help: research_help %>
  </p>
</div>
