<% research_help = get_research_help(document) %>
<div id="embargoRestriction" class="alert alert-warning">
  <p>
    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
    <%= t('ddr.public.embargoed_html', date: document.embargo.strftime('%Y-%m-%d'),
                                       href: link_to(read_not_authorized_contact_name(research_help),
                                                     read_not_authorized_contact_url(research_help),
                                                     target: ('_blank' if is_embed?))) %>
  </p>
</div>
