<%# Embargoed items/components already display a more specific message explaining %>
<%# why a user is not authorized so this would be redundant. %>
<% unless document.embargoed? %>
  <% research_help = get_research_help(document) %>
  <div id="inlineViewerRestriction" class="alert alert-warning">
    <p>
      <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
      <%= render "read_not_authorized_#{research_help.partial}", research_help: research_help %>
    </p>
  </div>
<% end %>
