<%= t('ddr.public.read_not_authorized_html',
    href: link_to(read_not_authorized_contact_name(research_help),
    read_not_authorized_contact_url(research_help),
    target: ('_blank' if is_embed?))) %>
