<% related_header = 'Related Collections' if document.common_model_name_ssi == 'Collection' %>

<div id="related-items">
  <% document.related_items.each do |related_item| %>
    <% if related_item.related_documents.present? %>
      <% if related_item.related_documents_count > 3 %>
        <h2 class="feature-head">
          <%= link_to("#{related_header ||= related_item.name.pluralize} (#{related_item.related_documents_count})", search_action_path(related_item.solr_query)) %>
        </h2>
      <% else %>
        <h2 class="feature-head">
          <%= related_header ||= related_item.name.pluralize(related_item.related_documents_count) %>
        </h2>
      <% end %>
      <%= render_document_index_with_view('gallery', related_item.related_documents[0..2]) %>
      <% if related_item.related_documents_count > 3 %>
        <%= link_to("See all #{related_item.related_documents_count} #{related_header ||= related_item.name.pluralize}", search_action_path(related_item.solr_query)) %>
      <% end %>
    <% end %>
  <% end %>
</div>
