<%= form_tag search_action_url, method: :get, class: 'search-query-form ml-2 mr-2 flex-fill', id: 'mast-search' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8, :collection, :id, :id_related_items, :show_components)) %>
  <div class="d-md-flex">
    <div class="input-group flex-nowrap">

      <% if current_page?(root_path) %>
        <!-- special dropdown search options for homepage -->
        <%= render_search_scope_dropdown_home %>
      <% else %>
        <%= render_search_scope_dropdown(params) %>
      <% end %>

      <%# text input %>

        <%= label_tag 'search_box', 'Search', class: 'mast-search sr-only' %>
        <%= text_field_tag :q, params[:q], class: 'form-control', id: 'search_box', autocomplete: 'off', autofocus: should_autofocus_on_search_box?, data: { default_placeholder: t('blacklight.search.form.dropdown.ddr.placeholder') } %>
        <%= hidden_field_tag 'search_field', 'all_fields' %>

      <div class="input-group-append">
        <button type="submit" class="btn btn-success search-btn" id="search" aria-label="<%= t('blacklight.search.form.submit.label') %>">
          <span class="submit-search-text d-none d-lg-inline sr-only"><%= t('blacklight.search.form.submit') %></span>
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
