<%= render 'search_results_header' %>
<%= render 'did_you_mean' %>
<%= render 'constraints' %>
<%= render 'collection_matches' %>
<%= render 'sort_and_per_page' %>

<%= content_for :page_title, search_results_html_title(@portal), flush: true %>

<% content_for :skip_links do %>
  <%= link_to 'Skip to limit your search', '#facets', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
<% end %>
