<div class="input-group-prepend w-auto">
  <label for="search_scope" class="sr-only"><%= t('blacklight.search.form.dropdown.label') %></label>

  <%= select_tag('search_scope',
                 options_for_select(active_search_scope_options, h(params[:search_field])),
                 class: 'custom-select form-select search-field') %>
</div>
