<div class="input-group-prepend w-auto">
  <label for="search_scope" class="sr-only"><%= t('blacklight.search.form.dropdown.label') %></label>
  <%= select_tag('search_scope',
                 grouped_options_for_select(search_scope_options, h(params[:search_field])),
                 prompt: t('blacklight.search.form.dropdown.label'),
                 class: 'custom-select form-select search-field') %>
</div>
