<% if document.has?('ead_id_ssi') %>
  <% finding_aid = document.finding_aid %>
  <% if finding_aid.data? %>
    <div class="card bg-light mb-3" id="source-collection">
      <div class="card-body">
        <h2 class="feature-head"><%= image_tag('ddr/archival-box.png', alt: '', class: 'collection-guide-icon') %>Source Collection</h2>

        <p class="small">This digital collection comprises selected materials from the following archival collection at <%= finding_aid.repository %>:</p>

        <h3 class="h4">
          <%= link_to finding_aid.collection_title, finding_aid.url %>
          <% if finding_aid.collection_date_span.present? %>
            <span class="small"> <%= finding_aid.collection_date_span %></span>
          <% end %>
        </h3>

        <p class="text-muted">
          <% if finding_aid.collection_number.present? %>
            Collection #<%= finding_aid.collection_number %> |
          <% end %>
          <% if finding_aid.extent.present? %>
            <%= finding_aid.extent %>
          <% end %>
        </p>

        <% if finding_aid.abstract.present? %>
          <p><span class="text-muted text-uppercase small strong">ABSTRACT</span><br><%= finding_aid.abstract %></p>
        <% end %>

          <p><%= link_to raw('Collection Guide &raquo;'), finding_aid.url %></p>
      </div>
    </div>
  <% end %>
<% end %>
