<%# https://github.com/ProjectMirador/mirador -%>
<%# https://github.com/ProjectMirador/mirador/wiki/M3-Configuration-Recipes -%>

<div id="ddr-mirador-setup"
  data-manifest-url="<%= iiif_presentation_url(iiif_presentation_url_params(@document)) %>"
  data-thumbnail-navigation-position="<%= imagecount.present? && imagecount == 1 ? 'off' : 'far-right' %>">
</div>

<% content_for :head do %>
  <%= javascript_include_tag "ddr-mirador", "data-turbo-track": "reload", type: "module" %>
<% end %>

<%# Mirador by default uses Roboto font, so it must be loaded -%>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">

<div style="position: relative;" class="mb-5">
  <%# Container element of Mirador whose id should be passed to the -%>
  <%# instantiating call as "id" -%>
  <%# The aspect ratio of the first image determines how tall to make the  -%>
  <%# Mirador container. But we also want to keep it between 400px - 800px -%>
  <div id="my-mirador" style="height: <%= [400, (838 / aspectratio)].max %>px; width: auto; max-height: 800px;"></div>
</div>
