<% cache("blog_posts_#{params[:collection]}", expires_in: 1.day) do %>
  <% @blog_posts = get_blog_posts(@portal.blog_posts_url) %>

  <% if @blog_posts && @blog_posts['posts'] %>

    <hr>

    <div id="blog-posts" class="mb-3">
      <h2 class="feature-head"><a href="https://blogs.library.duke.edu/bitstreams/">From Our Blog</a></h2>

      <% if @blog_posts['posts'].length > 2 %>

        <%= render 'show_blog_post_feature', post: @blog_posts['posts'].first %>

        <div class="row blog-secondary">
          <% @blog_posts['posts'].drop(1)[0..1].each do |post| %>
            <%= render 'show_blog_post_secondary', post: post %>
          <% end %>
        </div>

        <% if @blog_posts['posts'].length > 3 %>
          <% if @blog_posts['tag'] %>
            <div><%= link_to 'More Posts About This Collection', "https://blogs.library.duke.edu/bitstreams/tag/#{@blog_posts['tag']['slug']}/", { class: 'small text-muted' } %></div>
          <% else %>
            <div><%= link_to 'More Posts', 'https://blogs.library.duke.edu/bitstreams/', { class: 'small text-muted' } %></div>
          <% end %>
        <% end %>

      <% else %>
        <% @blog_posts['posts'].each do |post| %>
          <%= render 'show_blog_post_feature', post: post %>
        <% end %>
      <% end %>

    </div>

  <% end %>
<% end %>
