<% if document.present? %>
  <% cache("show_research_help_#{document.id}", expires_in: 1.day) do %>
    <% research_help = get_research_help(document) %>
    <% if research_help %>
    <div id="research-help" class="mb-3">
      <h2 class="h4"><span class="contact-devil-logo"></span><%= research_help_title(research_help) %></h2>

      <% if research_help.ask.present? || research_help.email.present? || research_help.phone.present? %>

        <div class="dropdown">
          <a href="#" data-target="#" role="button" id="contact-dropdown" data-toggle="dropdown" class="dropdown-toggle text-muted" aria-haspopup="true" aria-expanded="false">Contact</a><br>

           <ul class="dropdown-menu" aria-labelledby="contact-dropdown">

            <% if research_help.ask.present? %>
              <li>
                <a href="<%= research_help.ask %>?&amp;referrer=<%= request.original_url %>" class="dropdown-item" data-matomo-event-name="ask a question">
                  <i class="fa-solid fa-comment text-muted" aria-hidden="true"></i> Ask a Question
                </a>
              </li>
            <% elsif research_help.email.present? %>
              <li>
                <a href="mailto:<%= research_help.email %>" class="dropdown-item" data-matomo-event-name="email">
                  <i class="fa-solid fa-envelope text-muted" aria-hidden="true"></i> <%= research_help.email %>
                </a>
              </li>
            <% end %>
            <% if research_help.phone.present? %>
              <li>
                <a href="tel:+1-<%= research_help.phone %>" class="dropdown-item" data-matomo-event-name="phone number">
                  <i class="fa-solid fa-phone text-muted" aria-hidden="true"></i> <%= research_help.phone %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>

      <% end %>
      <hr class="contact-separator">
    </div>
    <%- end %>
  <%- end %>
<%- end %>
