<% if cached_read_current_ability(document) %>
  <%= render 'item_options', derivatives: document.media_download_urls %>
  <%= render 'display_jwplayer', jwplayer_locals({
                                                   derivatives: document.media_paths,
                                                   media_type: 'video/mp4',
                                                   media_mode: 'video'
                                                 }) %>

  <%= render 'jwplayer_twitter_og_tags', jwplayer_locals({
                                                           derivatives: document.media_paths,
                                                           media_type: 'video/mp4',
                                                           media_mode: 'video'
                                                         }) %>

  <%= render 'javascript_tools_av' %>
<% elsif user_signed_in? %>
  <%= render 'read_not_authorized', document: document %>
<% else %>
  <%= render 'read_restricted', document: document %>
<% end %>

<%= render 'show_default', document: document %>
