<hr>
<div id="collection-info">
  <%# Borrowed from https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/catalog/_show.html.erb %>
  <%# We change to use ShowPresenter here specifically because DC collection homepages are Index %>
  <%# pages rather than Show, so their default document_presenter is IndexPresenter. We need Show %>
  <%# field presenters, since Index includes only the fields presented in search results. %>

  <%# Also see CSS for #collection-info; some fields may be suppressed via display: none; %>
  <%= render(
        Blacklight::DocumentMetadataComponent.new(
          fields: Blacklight::ShowPresenter.new(document, controller.view_context).field_presenters,
          show: true
        )
      ) %>
</div>

<% content_for :page_title, document.html_title -%>

<% content_for :twitter_og_meta do %>
  <meta property="og:description" content="<%= document.abstract_ssi || document.description_ssi %>">
<% end %>
