<% content_for :submast do -%>
  <%= render 'collection_submast', document: document %>
<% end -%>

<% if document.description.present? %>
  <div id="about-collection">
    <div class="collection-description">
      <%= auto_link(simple_format(document.description)) %>
    </div>
  </div>
  <hr>
<% end %>

<%= render 'show_finding_aid_full', document: document %>
