<div class="media blog-post-feature mb-3">
  <div class="mr-3">
    <a href="<%= post['url'] %>" aria-label="Read the article: <%= post['title'] %>">
      <img class="media-object" src="<%= blog_post_thumb(post) %>" alt="">
    </a>
  </div>
  <div class="media-body">
    <h3><%= link_to(post['title'].html_safe, post['url']) %></h3>
    <p class="small text-muted">
      by <%= link_to(post['author']['name'], "https://blogs.library.duke.edu/bitstreams/author/#{post['author']['slug']}/", class: 'underlined-link') %> <span class="post-time-ago"><%= distance_of_time_in_words(DateTime.parse(post['date']), Time.zone.now) %> ago</span>
    </p>
    <div><%= post['excerpt'].html_safe %></div>

  </div>
</div>
