<% if document.display_inline_pdf? %>
  <%= render 'display_pdf', document: document.first_downloadable_pdf_doc %>
<% end %>

<%# default partial to display solr document fields in catalog show view -%>
<h2 id="info" class="feature-head"><%= document.metadata_header %></h2>

<% if document.embargoed? %>
  <%= render 'read_embargoed', document: @document %>
<% end %>

<div id="item-info">
  <%# Borrowed from https://github.com/projectblacklight/blacklight/blob/v7.32.0/app/views/catalog/_show.html.erb %>

  <%= render(
        Blacklight::DocumentMetadataComponent.new(
          fields: document_presenter(document).field_presenters,
          show: true
        )
      ) %>
</div>

<% content_for :page_title, document.html_title -%>

<% content_for :twitter_og_meta do %>
  <% if document.has?('description_ssi') %>
    <meta property="og:description" content="<%= document.description_ssi&.truncate(300) %>">
  <% end %>
<% end %>
