<div id="portal-context" class="mb-4">
  <h4><%= link_to t("ddr.public.portal.#{params[:collection] || controller_name}.title", default: 'Home'), url_for(action: 'index') %></h4>
  <p class="small"><%= t("ddr.public.portal.#{params[:collection] || controller_name}.about", default: '') %></p>
</div>
