<div class="col-12 col-md-6">
  <div class="media blog-post-secondary mb-3">
    <a href="<%= post['url'] %>" class="mr-3" aria-label="Read the article: <%= post['title'] %>">
      <img src="<%= blog_post_thumb(post) %>" alt="">
    </a>
    <div class="media-body">
      <p><%= link_to(post['title'].html_safe, post['url']) %></p>
      <p class="small text-muted">
        by <%= link_to(post['author']['name'], "https://blogs.library.duke.edu/bitstreams/author/#{post['author']['slug']}/", class: 'underlined-link') %> <span class="post-time-ago"> <%= distance_of_time_in_words(DateTime.parse(post['date']), Time.zone.now) %> ago</span>
      </p>
    </div>
  </div>
</div>
