<% if cached_read_current_ability(@document) %>
  <% if @document.multires_image_file_path %>
    <noscript><%= render 'show_image_derivative', identifier: @document.permanent_id_ssi %></noscript>
    <%= render 'show_mirador', aspectratio: image_item_aspectratio(document), imagecount: 1 %>
  <%- end %>

  <% if @document.streamable? %>
      <%= render 'display_jwplayer', jwplayer_locals({
                                                       derivatives: Array(document.stream_url),
                                                       media_type: document.streamable_media_type,
                                                       media_mode: media_mode(document.streamable_media_type)
                                                     }) %>
      <%= render 'javascript_tools_av' %>
  <%- end %>

<% elsif user_signed_in? %>
  <%= render 'read_not_authorized', document: document %>
<% else %>
  <%= render 'read_restricted', document: document %>
<% end %>

<%= render 'show_default', document: document %>
