<div id="item-components" class="mb-4">
  <h2 class="feature-head">
    <% if document.component_count > 1 %>
      <%= link_to item_browse_components_url(@document) do %>
        Files <span class="text-muted">(<%= number_with_delimiter(document.component_count) %>)</span>
      <% end %>
    <% else %>
        File
    <% end %>
  </h2>

  <%= render_document_index(@document.components.sort_by { |c| c.title_ssi.downcase }[0..19]) %>

  <% if @document.component_count > 20 %>
    <p class="browse-more">
      <%= link_to item_browse_components_url(@document) do %>
        Browse all <%= number_with_delimiter(@document.component_count) %> Files &raquo;
      <% end %>
    </p>
  <% end %>
</div>
