<% if document.rights_notes.present? %>
  <h2 class="feature-head" id="copyright">Copyright</h2>
  <% document.rights_notes.each do |note| %>
    <%= auto_link(simple_format(note)) %>
    <% if note != document.rights_notes.last %>
      <hr>
    <% end %>
  <% end %>
<% end %>
