<%= render 'show_research_help', document: document&.collection %>
<%= render 'document_context' %>
<%= render 'more_info_options', document: document %>
<%= render 'shared/harmful_language' %>
<%= render 'show_tools', document: document %>
