<% if document.ead_id_ssi.present? %>
  <div id="finding-aid" class="finding_aid">
    <%= source_collection({ document: document, placement: 'left', title: 'Source Collection' }) %>

    <% if document.aspace_id_ssi.present? %>
      <br/>
      <%= link_to 'View in Collection Guide',
                finding_aid_component_link(document),
                class: '',
                id: 'faid-deep-link' %>
    <% end %>
  </div>
<% end %>
