<%# DUL CUSTOM OVERRIDE of Blacklight view. See: %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/catalog/show.html.erb %>
<%# Changes: %>
<%# - Adds the document title %>
<%# - Removes the start over / back-to-search section. %>
<%# - TODO: Revisit this in Blacklight 8? %>

<h1 class="mb-3"><%= document_show_html_title %></h1>

<%= render 'show_main_content' %>
<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>
