<%# DUL CUSTOM override of Blacklight 7 component display, see: %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/components/blacklight/search_context_component.html.erb %>
<%# This local file prevents this section from rendering. %>
