<%#
Configure which elements and interactions generate GA Event data using
the @selectors hash.  Each element selector is a top-level hash key, so
must be unique. Selectors can be combined (comma-separated).

OPTIONS FOR CUSTOMIZING THE DATA SENT FOR EACH ELEMENT MATCHED BY SELECTOR
==========================================================================
(Order doesn't matter)

1. event
2. link
3. category
4. action
5. name
6. document_listener
7. intercept

////////////////////

1. event
--------
Which event on the element has to happen to send GA Event Track data?
default: 'click contextmenu'
This catches both left ('click') & right ('contextmenu') clicks.
Other possibilities: 'submit', 'focus', etc. Also can use custom events, e.g.,
'foo' will catch $('#element').trigger('foo')... this technique
is used for A/V player events

2. link
-------
Which DOM element provides context for the event? (especially for default values)
default: $(this) -- whatever element was specified by the selector

3. category
-----------
The Category value to submit to Matomo Event Tracking.
default: result of defaultCategory(link)

4. action
----------
The Action value to submit to Matomo Event Tracking.
default: result of defaultAction(link)

5. name
--------
The name value to submit to Matomo Event Tracking.
default: result of defaultName(link)

6. document_listener
--------------------
By default, listeners will get attached to the element identified by the selector, e.g.:

  $('div.something a').on('click', function(){ ... });

But in some cases we have to attach the listener to the document node in the DOM, e.g.:

  $(document).on('click', 'div.something a', function(){ ... });

This syntax enables listening for events on elements that are dynamically added to the DOM
after the initial pageload. Also, in some cases we have to explicitly match the syntax used
by Blacklight's own event listeners.

Possible values: true

7. intercept
------------
Optional instructions inserted immediately after the click/event. In some cases we need to
prevent the default browser behavior for the action; others we need to stop the click
from propagating up to parent elements to prevent unwanted click events. E.g.:

  e.preventDefault();
  e.stopPropagation();

======================================================================================
%>

<%
@selectors = {

  #// MASTHEAD & FOOTER
  #// ===================

  #// Skip Links
  "#skip-link a": {
    category: "'masthead'",
    action: "'skip links'"
  },

  #// Branding
  "#logo-col a.navbar-dul": {
    category: "'masthead'",
    action: "'branding logos'",
    name: "'dul logo'"
  },
  "#logo-col a.navbar-product-name": {
    category: "'masthead'",
    action: "'branding logos'",
    name: "'ddr logo'"
  },

  #// Search Box
  "#search-col #search_scope": {
    event: "change",
    category: "'search box'",
    action: "'search scope selector'",
    name: "$(this).find('option:selected').text()"
  },
  "#search-col form input#search_box": {
    category: "'search box'",
    action: "'basic search'",
    name: "'keyword search field click'"
  },
  "#search-col form": {
    event: "submit",
    category: "'search box'",
    action: "'submit search box'",
    name: "$('input#search_box').val()"
  },

  #// Login / My Account
  "#user-utilities a": {
    category: "'masthead'",
    action: "'user account'"
  },
  "#mobile-menu button": {
    category: "'masthead'",
    action: "'mobile menu'"
  },

  "#dul-masthead-row a": {
    category: "'masthead'",
    action: "'shared DUL menu'",
    document_listener: true
  },

  #// Alert Banner Links
  "#main-flashes a": {
    category: "'masthead'",
    action: "'alerts'"
  },

  #// Aptman Footer
  "#aptman a": {
    category: "'footer'",
    action: "'adopt a collection'"
  },

  #// Footer
  "#footer a": {
    category: "'footer'",
    action: "'footer links'"
  },

  #// DDR HOMEPAGE
  #// ==============================

  "body.homepage .placard a": {
    category: "'homepage'",
    action: "'homepage intro'"
  },
  "#home-repositories a": {
    category: "'homepage'",
    action: "'program areas'"
  },

  #// COLLECTION HOMEPAGES & PORTALS
  #// ==============================

  #// Collection Top Area
  "#browse-all-colls-btn": {
    category: "'collection home'",
    action: "'browse all collections'",
    name: "'browse all collections (main button)'"
  },
  "#browse-all-items-btn": {
    category: "'collection home'",
    action: "'browse all items'",
    name: "'browse all items (main button)'"
  },
  "div.collection-start a.more-link": {
    category: "'collection home'",
    action: "'about the collection'",
    name: "'more about (from collection summary)'"
  },
  "ul#showcase-link-list a": {
     category: "'collection home'",
     action: "'related link'"
  },

  #// Collection Info (Metadata Links)
  "#collection-info dd a": {
    category: "'metadata link'",
    action: "$(this).closest('dd').attr('class')"
  },

  #// Featured Collections
  "#featured-collections a": {
    category: "'collection home'",
    action: "'featured collection'",
    name: "$(this).attr('href')"
  },

  #// Featured Items (Showcase & Highlights)
  "div.collection-showcase a": {
    category: "'collection home'",
    action: "'showcase image'",
    name: "$(this).attr('href')"
  },
  "div.collection-highlight a": {
    category: "'collection home'",
    action: "'highlight image'",
    name: "$(this).attr('href')"
  },
  "a#view-all-featured": {
    category: "'collection home'",
    action: "'featured items link'"
  },

  #// Items List
  "#items-in-collection #documents .document .thumbnail-container .caption-area a": {
    category: "'collection home'",
    action: "'document result | grid view | title'",
    name: "$(this).attr('href')"
  },
  "#items-in-collection #documents .document .thumbnail-container .document-thumbnail a": {
    category: "'collection home'",
    action: "'document result | grid view | thumbnail'",
    name: "$(this).attr('href')"
  },
  "#items-in-collection .feature-head a": {
    category: "'collection home'",
    action: "'browse all items'",
    name: "'browse all items (items section header)'"
  },
  "#items-in-collection .browse-more a": {
    category: "'collection home'",
    action: "'browse all items'",
    name: "'browse all items (items section bottom)'"
  },

  #// About the Collection
  "#about-collection a": {
    category: "'collection home'",
    action: "'about the collection'"
  },

  #// Adopt a Collection
  ".collection-sponsor a": {
    category: "'collection home'",
    action: "'adopt a collection'"
  },

  #// Archival Collection Guide
  "#source-collection a": {
    category: "'collection home'",
    action: "'finding aid'"
  },

  #// Blog Posts
  "#blog-posts a": {
    category: "'collection home'",
    action: "'blog posts'",
    name: "$(this).attr('href')"
  },

  #// About Pages
  "body.about ul.nav a": {
    category: "'collection about page'",
    action: "'tab navigation'"
  },

  #// SEARCH & BROWSE RESULTS
  #// =======================

  #// You Searched For...
  "#appliedParams a": {
    category: "'search results'",
    action: "'search revision'"
  },

  #// Collection Results (appear in the "matching collections" strip)
  "body.search-results-page .collection-matches-container h2 a": {
    category: "'search results'",
    action: "'collection match browse'",
    name: "$(this).attr('href')"
  },

  #// Collection Results (appear in the "matching collections" strip)
  "body.search-results-page #matching-collections .document a": {
    category: "'search results'",
    action: "'collection result'",
    name: "$(this).attr('href')"
  },

  #// Document Results (Usually items but can be collections or components)
  "body.search-results-page #documents.documents-list .document .documentHeader a": {
    category: "'search results'",
    action: "'document result | list view | title'",
    name: "$(this).attr('href')"
  },
  "body.search-results-page #documents.documents-list .document .document-thumbnail a": {
    category: "'search results'",
    action: "'document result | list view | thumbnail'",
    name: "$(this).attr('href')"
  },
  "body.search-results-page #documents.documents-gallery .document .thumbnail-container .caption-area a": {
    category: "'search results'",
    action: "'document result | grid view | title'",
    name: "$(this).attr('href')"
  },
  "body.search-results-page #documents.documents-gallery .document .thumbnail-container .document-thumbnail a": {
    category: "'search results'",
    action: "'document result | grid view | thumbnail'",
    name: "$(this).attr('href')"
  },
  "body.search-results-page #documents.documents-list .document .document-metadata a:not(.btn-file-download)": {
    category: "'metadata link'",
    action: "$(this).parent('dd').attr('class')"
  },

  #// Display Options (sort, per page, grid/list)
  "body.search-results-page #sortAndPerPage .page-links a": {
    category: "'search results'",
    action: "'pagination top'"
  },
  "body.search-results-page #sortAndPerPage #sort-dropdown a, body.search-results-page #sortAndPerPage #sort-dropdown button": {
    category: "'search results'",
    action: "'sort by'"
  },
  "body.search-results-page #sortAndPerPage #per_page-dropdown a, body.search-results-page #sortAndPerPage #per_page-dropdown button": {
    category: "'search results'",
    action: "'per page'"
  },
  "body.search-results-page #sortAndPerPage .view-type a": {
    category: "'search results'",
    action: "'layout toggle'"
  },
  "body.search-results-page section.pagination ul.pagination a": {
    category: "'search results'",
    action: "'pagination bottom'"
  },
  "body.search-results-page .extra-result-see-more a": {
    category: "'search results'",
    action: "'pagination bottom'",
    name: "'see more (ghost item link)'"
  },

  #// Featured Items Page
  "body.featured #documents.gallery .document .thumbnail-wrapper .caption a": {
    category: "'featured items page'",
    action: "'document result | grid view | title'",
    name: "$(this).attr('href')"
  },
  "body.featured #documents.gallery .document .thumbnail-wrapper > a": {
    category: "'featured items page'",
    action: "'document result | grid view | thumbnail'",
    name: "$(this).attr('href')"
  },

  #// FACETS
  #// =====================

  "div.facet-limit .card-header button": {
    category: "'facets'",
    action: "$(this).attr('data-target').substring(1)",
    name: "defaultName(link) + ($(this).hasClass('collapsed') ? ' [expand]' : ' [collapse]')"
  },
  "div.facet-limit ul.facet-values a": {
    category: "'facets'"
  },
  "#blacklight-modal .facet-extended-list a": {
    category: "'facets'",
    document_listener: true
  },

  #// Blacklight Range Limit Plugin Facet
  "#facet-year_facet_iim input#range_year_facet_iim_begin": {
    category: "'facets'",
    action: "'facet-year_facet_iim'",
    name: "'year range begin'",
    document_listener: true
  },
  "#facet-year_facet_iim input#range_year_facet_iim_end": {
    category: "'facets'",
    action: "'facet-year_facet_iim'",
    name: "'year range end'",
    document_listener: true
  },
  "#facet-year_facet_iim div.slider-track": {
    category: "'facets'",
    action: "'facet-year_facet_iim'",
    name: "'year range slider'",
    document_listener: true
  },
  "#facet-year_facet_iim div.chart_js": {
    category: "'facets'",
    action: "'facet-year_facet_iim'",
    name: "'year range histogram'",
    document_listener: true
  },
  "#facet-year_facet_iim form": {
    event: "submit",
    category: "'facets'",
    action: "'facet-year_facet_iim'",
    name: "'year range submit limit'",
    document_listener: true
  },
  "#facet-year_facet_iim .more_facets a": {
    category: "'facets'",
    action: "'facet-year_facet_iim'"
  },


  #// SIDEBAR CONTEXT
  #// =====================

  "#research-help h2 a": {
    category: "'sidebar context'",
    action: "'research help'",
    name: "'owner link'"
  },
  "#research-help a[data-toggle=dropdown]": {
    category: "'sidebar context'",
    action: "'research help'",
    name: "'contact link' + ($(this).attr('aria-expanded') == 'true' ? ' [collapse]' : ' [expand]')"
  },
  "#research-help ul.dropdown-menu a": {
    category: "'sidebar context'",
    action: "'research help'"
  },
  "#collection-context a#admin-set": {
    category: "'sidebar context'",
    action: "'collection context'",
    name: "'admin set'"
  },
  "#collection-context a#parent-collection": {
    category: "'sidebar context'",
    action: "'collection context'",
    name: "'parent collection'"
  },
  "#collection-context a#parent-item": {
    category: "'sidebar context'",
    action: "'collection context'",
    name: "'parent item'"
  },
  "#collection-context a#more-digital-collections": {
    category: "'sidebar context'",
    action: "'collection context'",
    name: "'more digital collections'"
  },
  "#more-info-options a": {
    category: "'sidebar context'",
    action: "'more info & options'"
  },
  "#sidebar .harmful-language-statement a": {
    category: "'sidebar context'",
    action: "'harmful language'"
  },


  #// ITEM OR COMPONENT SHOW PAGE
  #// ===========================

  "#previousNextDocument a": {
    category: "'item to results nav'"
  },
  "#inlineViewerRestriction a": {
    category: "'item options'",
    action: "'restricted item'"
  },
  "#item-info dd a:not(.btn-file-download)": {
    category: "'metadata link'",
    action: "$(this).closest('dd').attr('class')"
  },

  #// Component (File) List

  "#item-components #documents .document .documentHeader a": {
    category: "'item contents'",
    action: "'document result | list view | title'",
    name: "$(this).attr('href')"
  },
  "#item-components #documents .document .document-thumbnail a": {
    category: "'item contents'",
    action: "'document result | list view | thumbnail'",
    name: "$(this).attr('href')"
  },
  "#item-components #documents.documents-list .document .document-metadata a:not(.btn-file-download)": {
    category: "'metadata link'",
    action: "$(this).parent('dd').attr('class')"
  },
  "#item-components .feature-head a": {
    category: "'item contents'",
    action: "'browse all components'",
    name: "'browse all components (items section header)'"
  },
  "#item-components .browse-more a": {
    category: "'item contents'",
    action: "'browse all components'",
    name: "'browse all components (items section bottom)'"
  },

  #// Item Options Bar
  "#item-options #imagecount-indicator": {
    category: "'item options'",
    action: "'image count'"
  },

  "#item-options #file-dropdown": {
    category: "'item options'",
    action: "'file link'"
  },
  "#item-options #file-menu input[type=submit]": {
    category: "'item options'",
    action: "'file link'"
  },
  "#item-options #file-menu a": {
    category: "'item options'",
    action: "'file link'",
    name: "defaultName(link) + ' | ' + $(this).attr('href')"
  },
  "#item-options #file-link a": {
    category: "'item options'",
    action: "'file link'",
    name: "defaultName(link) + ' | ' + $(this).attr('href')"
  },

  "#item-options #download-dropdown": {
    category: "'item options'",
    action: "'download'"
  },
  "#item-options #download-menu [type=submit]": {
    category: "'file download'",
    action: "'derivative file'"
  },
  "#item-options #download-menu a": {
    category: "'file download'",
    action: "'derivative file'",
    name: "defaultName(link) + ' | ' + $(this).attr('href')"
  },
  "#item-options #share-dropdown": {
    category: "'item options'",
    action: "'share'"
  },
  "#item-options #copyable-embed-code": {
    category: "'item options'",
    action: "'embed'",
    name: "'embed code box'"
  },
  "#item-options #copyable-permalink": {
    category: "'item options'",
    action: "'permalink'",
    name: "'permalink box'"
  },
  "#item-options .nav-item a.sr-only": {
    category: "'item options'",
    action: "'skip'"
  },


  #// Related Items
  "#related-items #documents.documents-gallery .document .thumbnail-container .caption-area a": {
    category: "'related items'",
    action: "'document result | grid view | title'",
    name: "$(this).attr('href')"
  },
  "#related-items #documents.documents-gallery .document .thumbnail-container .document-thumbnail a": {
    category: "'related items'",
    action: "'document result | grid view | thumbnail'",
    name: "$(this).attr('href')"
  },

  #// MIRADOR IMAGE VIEWER
  #// =============================
  ".mirador-viewer .mirador-window-top-bar button": {
    category: "'mirador viewer'",
    action: "'mirador top nav'",
    document_listener: true
  },
  ".mirador-viewer nav.MuiDrawer-paper button": {
    category: "'mirador viewer'",
    action: "'mirador side nav'",
    document_listener: true
  },
  ".mirador-viewer .mirador-label-value-metadata a": {
    category: "'mirador viewer'",
    action: "'mirador metadata link'",
    name: "'(value not tracked)'",
    document_listener: true
  },
  ".mirador-viewer .MuiListItem-button": {
    category: "'mirador viewer'",
    action: "'mirador button'",
    name: "$(this).text()",
    document_listener: true
  },
  ".mirador-viewer .mirador-osd-container button": {
    category: "'mirador viewer'",
    action: "'mirador button'",
    document_listener: true
  },
  ".mirador-viewer .mirador-thumbnail-nav-canvas": {
    category: "'mirador viewer'",
    action: "'mirador side nav'",
    name: "'thumbnail click'",
    document_listener: true
  },
  ".mirador-viewer #main-gallery div[role=button]": {
    category: "'mirador viewer'",
    action: "'mirador gallery'",
    name: "'thumbnail click'",
    document_listener: true
  },

  #// EMBEDDED UI
  #// =============================
  ".iframe-embed-title": {
    category: "'embedded item info'",
    action: "'title'"
  },
  ".iframe-embed-collection": {
    category: "'embedded item info'",
    action: "'collection'"
  },
  "#iframe-embed-info-button": {
    category: "'embedded item info'",
    action: "'info button'"
  },
  "#iframe-embed-share-button": {
    category: "'embedded item info'",
    action: "'share button'"
  },
  "#item-share-info #copyable-embed-code": {
    category: "'embedded item info'",
    action: "'embed'",
    name: "'embed code box'"
  },
  "#item-share-info #copyable-permalink": {
    category: "'embedded item info'",
    action: "'permalink'",
    name: "'permalink box'"
  },


  #// JWPLAYER AUDIO & VIDEO PLAYER
  #// =============================
  "#jwplayer-element": {
    event: "play complete fullscreen playlist-item-change playlist-complete",
    category: "'audiovisual'",
    action: "(e.handleObj.type.match('^playlist') ? 'av playlist: ' : 'av file: ') + e.handleObj.type",
    name: "$(this).find('video').attr('src')",
    document_listener: true
  },
  "#av-playlist-nav ul a": {
    category: "'audiovisual'",
    action: "'av playlist: playlist-item-change navstrip'",
    name: "$(this).attr('href')",
    document_listener: true
  },
  "#interactive-transcript .tr-cue": {
    category: "'audiovisual'",
    action: "'interactive transcript: cue click'",
    name: "$(this).attr('id')"
  },
  "#transcript-expand": {
    category: "'audiovisual'",
    action: "'interactive transcript: expand'",
    name: "$(this).data('state')"
  },
  ".jump-av": {
    category: "'audiovisual'",
    action: "'description timecode: click'",
    name: "$(this).data('jump-sec')",
    document_listener: true
  },
  "#download-transcript-dropdown": {
    category: "'audiovisual'",
    action: "'interactive transcript: show download menu'"
  },
  "#download-transcript-menu li a": {
    category: "'audiovisual'",
    action: "'interactive transcript: download'"
  }
}
%>

var eventTracking = (function () {

  var config = {
    categoryDataAttribute: 'matomo-event-category',
    actionDataAttribute: 'matomo-event-action',
    nameDataAttribute: 'matomo-event-name'
  }

  // PUBLIC METHODS
  // ===============

  function listenForClicks () {

    <%# Create an event listener for each selector configured above %>

    <% @selectors.each do |selector, props| %>
      <% if (props[:document_listener] === true) %>
        $(document).on('<%= props[:event] || "click contextmenu" %>', '<%= selector %>', function(e){
      <% else %>
        $('<%= selector %>').on('<%= props[:event] || "click contextmenu" %>', function(e){
      <% end %>
           <%= props[:intercept] %>
           var link = <%= props[:link] || "$(this)" %>;
           var matomo_event = {};
           matomo_event.category = <%= props[:category] || "defaultCategory(link)" %>;
           matomo_event.action = <%= props[:action] || "defaultAction(link)" %>;
           matomo_event.name = <%= props[:name] || "defaultName(link)" %>;
           sendEventData(matomo_event);
         });
    <% end %>

    <%#// Listen for Download Button clicks, track as a Matomo event %>
    $('.btn-file-download').on('click contextmenu', function(e){

      <%#// Matomo Custom Dimensions to Track on Download %>
      <%#// https://developer.matomo.org/guides/tracking-javascript-guide#tracking-a-custom-dimension-for-one-specific-action-only %>
      var matomo_event = {};
      matomo_event.category = 'file download';
      matomo_event.action = 'master file';
      matomo_event.name = $(this).attr('href');
      matomo_event.custom_dimensions = {};
      matomo_event.custom_dimensions = {
        'dimension1': 'file download', // DDR View Type
        'dimension2': $(this).data('matomo-permanent-id'), // DDR Permanent ID
        'dimension3': 'component', // DDR Document Model
        'dimension4': $(this).data('matomo-admin-set'), // DDR Admin Set
        'dimension5': $(this).data('matomo-collection'), // DDR Collection
        'dimension6': $(this).data('matomo-item'), // DDR Item
      };
      sendEventData(matomo_event);
    });

  }

  // PRIVATE METHODS
  // ===============

  function defaultCategory (link) {
    var category;

    // Default Category Determination Progression:
    // 1. a@data-matomo-event-category
    // 2. id of 1st parent element with id

    if (link.data(config.categoryDataAttribute)) { // this might need camelCase for hyphenated attribute like data-matomo-event-category; see http://stackoverflow.com/questions/22753629/jquery-get-html-5-data-attributes-with-hyphens-and-case-sensitivity
      category = link.data(config.categoryDataAttribute);
    } else if (link.parent().closest('[id]').attr('id')) {
      category = link.parent().closest('[id]').attr('id'); // id from nearest ancestor with one
    } else {
      category = "top-level";
    }
    return category;
  }

  function defaultAction (link) {
    var action;

    // Default Action Determination Progression:
    // 1. a@data-matomo-event-action
    // 2. a@id self
    // 3. id of 1st parent element w/id

    if (link.data(config.actionDataAttribute)) {
      action = link.data(config.actionDataAttribute);
    } else if ( link.closest('[id]').attr('id') ) {
      action = link.closest('[id]').attr('id'); // own id, else nearest ancestor with one
    } else {
      action = "top-level";
    }
    return action;
  }

  function defaultName (link) {
    var name;

    // Default Name Determination Progression:
    // 1. @data-matomo-event-name
    // 2. use the link text or a property, different for <a>, <button>, <input> elements

    if (link.data(config.nameDataAttribute)) {
      name = link.data(config.nameDataAttribute);
    } else {

      if(link.is("[data-toggle=dropdown]")) {
        name = "dropdown" + (link.attr('aria-expanded') == 'true' ? ' [collapse]' : ' [expand]');
      } else if (link.is('a')) {
        name = ($.trim(link.text()) || link.children('img:first').attr('alt') || link.attr('title'));
      } else if (link.is('button')) {
        name = (link.attr('aria-label') || link.attr('title') || $.trim(link.text()) );
          if(link.is("[data-toggle=collapse]")) {
            name += (link.attr('aria-expanded') == 'true' ? ' [collapse]' : ' [expand]');
          }
      } else if (link.is('input')) {
        name = (link.attr('name') || link.attr('value') || link.attr('placeholder'));
      } else {
        name = "no name";
      }
    }

    return name;
  }

  function sendEventData(matomo_event) {
    var matomo_site_id = $('#matomo-analytics-configs').data('matomo-analytics-site-id')?.toString();
    var debug_on = $('#matomo-analytics-configs').data('matomo-analytics-debug')?.toString();
    if (matomo_site_id && matomo_site_id.length > 0) {
      sendDataToMatomoAnalytics(matomo_event);
    }
    if (debug_on == 'true') {
      if($.isEmptyObject(matomo_event.custom_dimensions)) {
        console.log('Matomo Event Track', [matomo_event.category, matomo_event.action, matomo_event.name]);
      } else {
        console.log('Matomo Event Track', [matomo_event.category, matomo_event.action, matomo_event.name, matomo_event.custom_dimensions]);
      }
    }
  }

  function sendDataToMatomoAnalytics(matomo_event) {
    <%# https://matomo.org/faq/reports/implement-event-tracking-with-matomo/ %>

    if($.isEmptyObject(matomo_event.custom_dimensions)) {
      _paq.push(['trackEvent', matomo_event.category, matomo_event.action, matomo_event.name]);
    } else {
      _paq.push(['trackEvent', matomo_event.category, matomo_event.action, matomo_event.name, matomo_event.custom_dimensions]);
    }
  }

  return {
    // Expose Public Methods
    listenForClicks: listenForClicks
  };

})();

$( document ).ready(function() {
  eventTracking.listenForClicks();

  // Facet values and modal "more" browse helper
  // -------------------------------------------

  $(document).on('click', '.more_facets a', function(e){
    var link = $(this);
    // Carry the facet ID over to the modal "more" browse so clicks in there
    // can be attributed to the respective facet in GA Event Tracking.
    $('#blacklight-modal').addClass('facet-browse');
    $('#blacklight-modal .modal-dialog').first().attr('id', link.closest('[id]').attr('id'));
  });

});
