<%# DUL CUSTOM markup for a document when rendered in list view, %>
<%# e.g., in search results. Modeled after the blacklight-gallery plugin's %>
<%# view components that extend core blacklight. %>

<%# See: %>
<%# https://github.com/projectblacklight/blacklight-gallery/blob/main/app/components/blacklight/gallery/document_component.html.erb %>
<%# https://github.com/projectblacklight/blacklight/blob/v7.33.0/app/components/blacklight/document_component.html.erb %>

<%= render(Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @document, counter: @counter, presenter: @presenter)) do |component| %>
  <% component.with_body do %>
    <div class="document-main-section">
      <%= title %>
      <%= content %>
      <%# DUL CUSTOMIZATION: move the thumbnail here %>
      <%= thumbnail %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>
    </div>
  <% end %>
<% end %>
