
.font-weight-semibold {
  font-weight: 600 !important;
}


/* Accessibility: for use in cases where inline linked text has   */
/* insufficient contrast (< 3:1) with its surrounding text; links */
/* must be distinguishable by more than color.                    */

@mixin underlined-link {
  text-decoration: underline;
  text-decoration-color: #aaa;
}

a.underlined-link {
  @include underlined-link;
}

dl.document-metadata {
  dd {
    &.blacklight-description_tsim,
    &.blacklight-isreferencedby_tsim,
    &.blacklight-provenance_tsim,
    &.blacklight-rights_note_tsim {
      a {
        @include underlined-link;
      }
    }
  }
}

#about-collection .collection-description a {
  @include underlined-link;
}

body.blacklight-digital_collections-about {
  #content p a {
    @include underlined-link;
  }
}

/* --------------------------
    DUL Custom Headers
----------------------------- */

.feature-head {
  text-transform: uppercase;
  color: #333;
  font-size: 26px;
}

.dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

/* --------------------------
    DUL Custom List Styles
----------------------------- */
ul { padding-left: 0.5em; }
ul:not([class]) li { list-style-type: none; }
ul:not([class])>*:before {
  color: $success;
  content: "\f04d";
  font: var(--fa-font-solid);
  margin-left: -0.6em;
  padding-right: 1em;
  vertical-align: 50%;
  font-size: 33%;
}

/* Accessibility: darken text-muted when on non-white backgrounds */
/* to meet 4.5:1 contrast WCAG requirement. */

#source-collection .text-muted {
  color: shade($text-muted, 5%) !important;
}

/* --------------------------
    DUL Custom Alert Styles
    accessibility adjustments
----------------------------- */

.alert a {
  font-weight: 600;
}

.alert.alert-warning {
  color: shade($warning, 49%);
}
