/* -------------
  ITEM DISPLAY
---------------- */

#document h1 {
  overflow-wrap: break-word;
}

.show-document .page_links {
  display: none;
}

.nav.item-options {
  & > li > a {
    color: $gray-light;
    text-transform: uppercase;
  }
}

.collection-guide-icon {
  margin-right: 10px;
  opacity: 0.6;
}

#item-info, #collection-info {

  dt {
    @include media-breakpoint-up(md) {
      margin-bottom: 0.5rem;
    }
  }

  /* metadata values with paragraph breaks */
  dl dd p:last-of-type {
    margin-bottom: 0;
  }

  dd {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.75rem;
    }
  }

  /* metadata values in lists */
  ul {
    column-count: 1;
    column-gap: 20px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      padding-left: 0;
    }
  }

  ul.many-metadata-values {
    @include media-breakpoint-up(sm) {
      column-count: 2;
    }

    @include media-breakpoint-up(lg) {
      column-count: 3;
    }

    li {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem;
    }
  }

  ul.long-metadata-values li {
    margin-bottom: 0.5rem;
  }
}

.item-caption-inner .text-muted {
  color: #e3e3e3;
}

#item-options {
  .dropdown-toggle {
    color: #767676;
  }
}

.dl-invert {
  dt {
    color: $gray-600;
    font-weight: bold;
  }
}
