/* Styles for Image Export Login/ReCAPTCHA UI */

.vertical-line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid $gray-light-more;
  height: 100%;
  @include media-breakpoint-down(sm) {
    position: static;
    transform: none;
    height: 1px;
    margin: 40px auto;
  }
}

.vl-innertext {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid $gray-light-more;
  border-radius: 50%;
  color: $gray-light;
  padding: 6px;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  font-weight: bold;
  @include media-breakpoint-down(sm) {
    left: 3rem;
    top: 1.25em;
    transform: none;
  }
}

.g-recaptcha {
  min-height: 85px;
}

.btn-duke-logo, .btn-duke-logo:active {
  background-image: asset_url("ddr/duke-tr.png");
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: 10px 50%;
  padding-left: 70px;
}
