/* Note that Mirador could potentially be themed via its configuration options: */
/* https://mui.com/material-ui/customization/typography/ */
/* https://github.com/ProjectMirador/mirador/blob/master/src/config/settings.js */
/* However, using SCSS is likely easier and more flexible. */
#my-mirador {
  .mirador-window {
    // This has to be lower than Bootstrap's dropdowns/popovers
    z-index: 999;
  }

  // These sidebar areas don't seem to be themeable in M3 so we have to
  // override their colors here.
  .MuiPaper-root {
    &.MuiDrawer-paper,
    &.mirador-thumb-navigation,
    &.mirador-scrollto-scrollable,
    &.mirador-companion-window-left {
      background-color: $gray-dark;
    }
  }

  .MuiAccordionSummary-root {
    border-bottom: 1px solid $gray-700;
    margin-bottom: 0.5rem;
  }

  .mirador-label-value-metadata {
    .MuiTypography-subtitle2 {
      color: $gray-100;
      font-weight: 600;
      margin-top: 1rem;
    }
    .MuiTypography-body1 {
      color: $gray-300;
      font-size: 0.85rem;
    }
  }

  .mirador-thumbnail-nav-container {
    // A11y fix: the current thumb doesn't get a border when clicking to
    // different pages in the thumbnail pane (needs !important).
    > div[class*="currentCanvas"] {
      outline: 2px solid $piedmont !important;
      outline-offset: 3px;
    }
  }

  /* The mirador-image-tools plugin does not account for dark theme */
  /* so we need to manually override its icon colors. This is a bit */
  /* hacky, but there doesn't seem to be a better way to indicate   */
  /* the colors. */
  .mirador-osd-container {
    svg {
      fill: black;
    }
    div.mirador-canvas-nav svg {
      fill: currentColor;
    }
  }
}
