/* --------------------------------------------------------
Styles for embedded media. These apply to media displayed
within the src of an iframe provided in copyable embed code
E.g., at:
https://repository.duke.edu/dc/wdukesons/dscsi03002?embed=true
---------------------------------------------------------- */

.ddr-embed {

  background-color: #333;

  .d-embed-none {
    display: none;
  }

  .alert {
    margin: 20px;
  }


  /* Embedded audio has a short iframe so adjust alerts */
  /* to fit better */
  .iframe-embed-audio-wrapper .alert {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
  }

  /* Image Items (Mirador)                 */
  /* ------------------------------------- */

  #my-mirador {
    height: calc(100vh - 65px) !important;
    max-height: calc(100vh - 65px) !important;
  }

  /* Audio & Video (JWPlayer)              */
  /* Extends and revises styles for viewer */
  /* in use on item show pages             */
  /* ------------------------------------- */

  #jwplayer-element:not(.jw-flag-fullscreen) {
    height: calc(100vh - 65px) !important;
    max-height: calc(100vh - 65px) !important;

    .jw-title {
      display: none;
    }
  }


  #av-playlist-nav {
    display: none;
  }

  .av-embed-playlist-info {
    margin-right: 15px;
  }

  .av-embed-playlist-now-playing {
    color: white;
    font-weight: bold;
  }
}


/* Embed Title, Info, Sharing Bar */
/* ------------------------------- */

#iframe-embed-title-row {
  margin-bottom: 10px;
}

#iframe-embed-titlebar {
  z-index: 1300;
  color: #ccc;
  background-color: #222;
  max-height: 100%;
  overflow-y: auto;
  padding: 5px;

  a {
    color: white;
  }

  #iframe-embed-info-button, #iframe-embed-share-button {
    cursor: pointer;
    color: #ccc;
    margin-right: 10px;
    text-decoration: none !important;
    &:hover {
      color: white;
    }
    &[aria-expanded='true'] {
      color: $success;
    }
  }

  .embed-transcript-label {
    text-transform: uppercase;
    background-color: #ccc;
    color: #222;
    padding: 0.1em 0.5em;
    border-radius: 0em;
    font-size: 12px;
    margin-top: 5px;
    &:hover {
      text-decoration: none;
      background-color: white;
    }
  }
}

.iframe-embed-title.truncated-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#iframe-embed-info,
#iframe-share-info {
  transition: all 0.4s linear !important;
}

textarea#copyable-embed-code,
textarea#copyable-permalink {
  resize: none;
  font-size: $font-size-sm;
  overflow-y: auto;
}

#share-menu {
  padding: 3px 20px 20px 20px;
  min-width: 360px;

  .dropdown-header {
    padding-left: 0;
    padding-right: 0;
  }
}
