/* -------------
 GENERAL LAYOUT
---------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 16px;
  background-color: $whisper-gray;
}

#skip-link {
  // this must be greater than the z-index of the masthead
  z-index: 201;

  // Suppress the built-in BL7 skip to search_field... we don't use
  // that like BL7, and also don't always have it present on the page.
  a[href="#search_field"] {
    display: none;
  }

}

.alert {
  border-width: 0 0 0 1em;
  border-radius: 0;
  .close {
    opacity: 0.6;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

#main-container {
  background-color: #fff;
  padding: 30px;
  padding-top: 0;
}

#content, #sidebar {
  margin-top: 30px;
  #submast ~ & {
    margin-top: 0;
  }
}


#content {
  @include media-breakpoint-up(md) {
    /* Left-hand content w/sidebar on the right... */
    &.order-1 {
      padding-right: 2rem;
    }
    /* Right-hand content w/sidebar on the right... */
    &.order-2 {
      padding-left: 2rem;
    }
  }
}

#sidebar {
  @include media-breakpoint-up(md) {
    /* Left-hand sidebar... */
    &.order-1 {
      box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.06),
                  2px 0 2px -2px rgba(0, 0, 0, 0.06),
                  4px 0 4px -4px rgba(0, 0, 0, 0.06),
                  8px 0 8px -8px rgba(0, 0, 0, 0.06),
                  16px 0 16px -16px rgba(0, 0, 0, 0.06);
      padding-right: 2rem;
    }

    /* Right-hand sidebar... */
    &.order-2 {
      position: sticky;
      overflow-y: auto;
      top: 10px;
      max-height: 100vh;
      box-shadow: -1px 0 1px -1px rgba(0, 0, 0, 0.06),
                  -2px 0 2px -2px rgba(0, 0, 0, 0.06),
                  -4px 0 4px -4px rgba(0, 0, 0, 0.06),
                  -8px 0 8px -8px rgba(0, 0, 0, 0.06),
                  -16px 0 16px -16px rgba(0, 0, 0, 0.06);
      padding-left: 2rem;
    }
  }
}


/* Use on a row to extend to outer edge of #main-container */
.flush-sides {
  margin-left: -30px;
  margin-right: -30px;
}

/* Show page: hide duplicate h1 title in the content section  */
/* in cases where we have a DUL submast and already render */
/* the h1 title there. */

body.show #submast ~ #content > h1 {
  display: none;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.blacklight-digital_collections-index #main-flashes .contentdm-alert {
  display: none;
}

.contact-devil-logo {
  background-image: image-url('ddr/devillogo-60pct-60.png');
  height: 80px;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  width: 50px;
  display: block;
  margin-bottom: 20px;
}

/* --------------------------
    Feedback Button Styles
----------------------------- */

.feedback-link-wrapper {
  position: fixed;
  bottom: 0;
  right: 5px;
  z-index: 1000;
  margin-bottom: -4px;
  @include media-breakpoint-up(md) {
    bottom: 55%;
    right: 0;
    transform: rotate(-90deg);
    margin-right: -3.3em;
  }

  .feedback-link {
    border: 2px solid #fff;
    border-radius: 0;
    background-color: #988675;
    background-color: #675647;
    background-color: #5a125a;
    margin-right: 0;
    font-weight: 600;
    color: #fff;
    padding: 12px 24px;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    cursor: pointer;
    &:hover {
      background-color: #675647;
      background-color: #052f75;
      background-color: #993399;
      color: #fff;
      text-decoration: none;
    }
  }
}
