/* -------------
 PORTAL DISPLAY
---------------- */

body.blacklight-digital_collections-index_portal {
  #main-container {
    padding-top: 0;
  }
}

.collection-submast {
  padding: 30px !important;
}

.collection-start {
  background-color: rgba(0,0,0,0.8);
  color: #eee;
  h1, a {
    color: white;
  }
  .collection-abstract {
    color: $gray-lighter;
    font-size: 18px;
  }
}

.item-tally {
  font-weight: bold;
  font-size: 110%;
}

.collection-showcase {
  height: 500px;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .showcase-full & {
    height: 650px;
    min-height: 350px;
    max-height: 67vh;
  }
  ~ .collection-showcase {
    @include media-breakpoint-only(xs) {
      display: none !important; // Just show one showcase item on smallest screens
    }
  }
}

.showcase-item-caption {
  display: none;
  position: absolute;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6));
  z-index: 90;
  .item-caption-inner {
    min-height: 140px;
  }
  a {
    font-weight: 600;
    color: white;
  }
  .showcase-full & {
    display: block;
    position: relative;
  }
}

#featured-collections {
  background: $gray-lighter;
  margin: 0;
  padding-top: 15px;

  .collection-thumb {
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .collection-caption {
    background: #333;
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    width: 100%;
    float: left;
  }
}

#highlight-items {
  &.row {
    /* To get a smaller gutter in highlights, we have to fudge this a bit for now */
    /* In BS5 we can use CSS Grid features. */
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }

  .collection-highlight {
    height: 200px;
    overflow: hidden;
    .collection-highlight-image {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

a.showcase-item-wrap, a.highlight-item-wrap {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.highlight-item-caption {
  display: none;
  position: absolute;
  bottom: 0;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
  width:100%;
  z-index: 90;
  min-height: 200px;
  & .item-caption-inner {
    position: absolute;
    bottom: 0px;
  }
  & a {
    color: white;
  }
}

// Collection metadata section: note that we intentionally
// hide the description & abstract fields in this section
// because their values are already prominently displayed
// higher in the page.
#collection-info {
  .document-metadata {
    dt, dd {
      &.blacklight-description_tsim,
      &.blacklight-abstract_tsim {
        display: none;
      }
    }
  }
}

#blog-posts {
  .blog-post-feature {
    .more-link {
      display: none; // out-of-box excerpt link is too long
    }
  }

  .blog-secondary {
    img {
      width: 75px;
    }
  }
}
