/* ------------------
    SEARCH RESULTS
--------------------- */

#appliedParams {
  margin-bottom: 1.5rem !important;
}

.page-links {
  padding-top: 0;
  border: 0;
  a {
    font-weight: 600;
  }
  strong:last-of-type {
    font-size: 24px;
    padding: 0 0.125rem;
  }
}

.search-widgets {
  align-items: flex-start;
  .view-type a {
    padding: 5px 6px;
  }
}

/* Overlay format icons over search result thumbnails using the display_format
administrative metadata. This will help disambiguate different kinds of
image-based items */

#documents {
  .document {

    .document-thumbnail div.caption,
    .thumbnail-wrapper div.caption {
      clear: both;
    }

    .document-thumbnail a:first-child,
    .thumbnail-wrapper a:first-child {
      float: left;
      position: relative;

      &:before {
        display: none;
        color: white;
        font: var(--fa-font-solid);
        padding: 0.4em;
        background-color: $gray-light;
        font-size: $font-size-base;
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
    /* Add more of these as needed using blacklight-{display_format} class
    and FontAwesome Unicode character... */
    &.blacklight-folder .document-thumbnail a:first-child,
    &.blacklight-folder .thumbnail-wrapper a:first-child {
      &:before {
        display: block;
        content: "\f07c";
      }
    }
    &.blacklight-video:not(.thumbnail-icon) .document-thumbnail a:first-child,
    &.blacklight-video:not(.thumbnail-icon) .thumbnail-wrapper a:first-child {
      &:before {
        display: block;
        content: "\f144";
      }
    }

  }
}

/* --------- */
/* GRID VIEW */
/* --------- */

#documents.documents-gallery,
#matching-collections .documents-gallery {

  .document {
    margin-bottom: 20px;
  }

  .document-counter {
    display: none;
  }

  .img-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    background: #eee;
    max-width: 250px;
    max-height: 350px;
    width: 100%;
    height: auto;
  }


  .caption-area {
    clear: both;
  }

  h3.index_title {
    font-size: 18px;
    margin-top: 8px;
    padding-left: 0;
    overflow-wrap: break-word;
  }

  .extra-result-see-more {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    a {
      border: 1px solid #ddd;
      padding: 20px;
      font-size: 18px;
      display: block;
    }
  }
}

/* --------- */
/* LIST VIEW */
/* --------- */
#documents.documents-list {
  .document {
    padding-bottom: 1rem;
    .document-title-heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .document-thumbnail {
      float: left;
      max-width: 100px;
      margin: 0 1rem 1rem 0;
      padding: 0 !important;
    }
    .img-thumbnail {
      padding: 0;
      border: none;
      border-radius: 0;
      background: #eee;
      width: auto;
      height: auto;
      max-height: 150px;
    }
  }
}

dl.document-metadata {
  overflow-wrap: break-word;
  max-width: calc(100% - 150px);
}


/* -------------------- */
/* MATCHING COLLECTIONS */
/* -------------------- */

#matching-collections.gallery {

  .thumbnail-container {
    border: 1px solid shade($light, 10%);
    padding: 20px 20px 10px 20px;
    background: shade($light, 5%);

    .document-thumbnail {
      max-height: 225px;
      overflow: hidden;
      border: 5px solid white;
      a {
        float: none;
        .img-thumbnail {
          width: 100%;
          max-width: none !important;
        }
      }
    }
  }

  .caption-area {
    .caption {
      .index_title {
        overflow-wrap: break-word;
        a {
          font-weight: 600;
        }
      }
    }
  }
}
