//= Layout

/* =============================================== */
/* Layout Max Width Customizations: intent is to   */
/* cap at 30px less than the next breakpoint and   */
/* set the xl max at an optimal width for most     */
/* user screen resolutions.                        */
/* See $grid-breakpoints in _variables.scss.       */
/* https://github.com/twbs/bootstrap-rubygem/blob/v4.6.1/assets/stylesheets/bootstrap/_variables.scss#L190-L2048 */
/* https://github.com/twbs/bootstrap-rubygem/blob/v4.6.1/assets/stylesheets/bootstrap/_variables.scss#L207-L218 */
/* =============================================== */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 690px,
  md: 930px,
  lg: 1110px,
  xl: 1360px
) !default;

//== Colors

/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue:  #012169 !default;
$duke-royal-blue: #00539b !default;
$copper:          #c84e00 !default;
$persimmon:       #e89923 !default;
$dandelion:       #ffd960 !default;
$piedmont:        #a1b70d !default;
$eno:             #339898 !default;
$magnolia:        #1d6363 !default;
$prussian-blue:   #005587 !default;
$shale-blue:      #0577b1 !default;
$ironweed:        #993399 !default;
$hatteras:        #e2e6ed !default;
$whisper-gray:    #f3f2f1 !default;
$ginger-beer:     #fcf7e5 !default;
$dogwood:         #988675 !default;
$shackleford:     #dad0c6 !default;
$cast-iron:       #262626 !default;
$graphite:        #666666 !default;
$granite:         #b5b5b5 !default;
$limestone:       #e5e5e5 !default;

/* ================================= */
/* DUL website colors (dulcet theme) */
/* ================================= */
$dul-masthead-blue:     #053482 !default;
$dul-dulcet-lightblue:  #235f9c !default;
$dul-dulcet-green:      #a1b70d !default;
$dul-dulcet-orange:     #f09905 !default;
$dul-dulcet-red:        #cc3300 !default;

$gray-darker:           #222222 !default;
$gray-dark:             #333333 !default;
$gray:                  #555555 !default;
$gray-light:            #676767 !default;
$gray-light-more:       #cccccc !default;
$gray-lighter:          #eeeeee !default;
$facet-grey:            #f5f5f5 !default;
$gray-lightest:         #fafafa !default;

/* ===================== */
/* Grays                 */
/* ===================== */

$black: #000000 !default;
$gray-800: $cast-iron !default;
$gray-700: $graphite !default;
$gray-600: #767676 !default;
$gray-500: #9b9b9b !default;
$gray-400: $granite !default;
$gray-300: #cdcdcd !default;
$gray-200: $whisper-gray !default;
$gray-100: tint($whisper-gray, 40%) !default;
$white: #ffffff !default;


/* This is the lightest true gray that meets 4.5:1 contrast */
/* vs. white (required by WCAG AA). */
$text-muted: #767676;

$link-color: #004ccc;
$link-hover-color: tint($link-color, 16%);

$primary-link-color: #004CCC;
$secondary-link-color: #003999;

$dropdown-link-hover-bg: $whisper-gray;

/* ===================== */
/* Theme color variables */
/* ===================== */
$primary:         $dul-masthead-blue !default;
$secondary:       $whisper-gray !default;
$success:         $piedmont !default;
$info:            $primary-link-color !default;
$warning:         $dandelion !default;
$danger:          $copper !default;
$light:           tint($whisper-gray, 40%);


// make alert border color match class variable e.g., $warning
$alert-border-level: 0;
