/* DUL CUSTOM submenu extension for BS4 dropdowns */

.dropdown-submenu {
  position: relative;
  > .dropdown-menu {
    top: 0;
    left: 100%;
  }
  &:hover, &:focus-within {
    > .dropdown-menu {
      display: block;
    }
  }
  > a {
    &:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: $gray;
      margin-top: 8px;
      margin-right: -10px;
    }
  }
}
