/* --------------------------
 Sidebar more info/options
-------------------------- */

#more-info-options {
  :not(.iiif-manifest-link) {
    a {
      &:before {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        content: '\f08e';
        margin-right: 5px;
      }
    }
  }
}

/* --------------------------
 Sidebar collection context
-------------------------- */

#collection-context {
  word-break: break-word;
}

hr.contact-separator,
hr.collection-context-separator {
  border-top: 2px solid $success;
  clear: both;
}

.vertical-model-separator {
  position: relative;
  border-left: 2px solid $gray-300;
  color: $gray-300;
  height: 30px;
  display: block;
  width: 1px;
  margin: 10px auto;

  .fa, .fas {
    font-size: 10px;
    position: absolute;
    bottom: -2px;
    left: -5.8px;
    &.fa-map-marker-alt {
      font-size: 16px;
      left: -6.5px;
      color: $success;
      background-color: white;
    }
  }

}

#source-collection {

  background-color: #f9f9f9;

  h4 {
    .small {
      color: #737373;
    }
  }

  .text-muted {
    color: #737373;
  }

}

.show-tools {
  margin-top: 40px;
}

#documents + #source-collection {
  margin-top: 20px;
}
