body.homepage {
  #main-container {
    padding-top: 0;
  }
}

#home-feature {
  background: asset_url('homepage/homepage_bg.jpg');
  background-size: cover;
  background-color: #bbb;
  min-height: 20em;
  overflow: hidden;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,0.12),
              0 2px 2px -2px rgba(0,0,0,0.12),
              0 4px 4px -4px rgba(0,0,0,0.12),
              0 8px 8px -8px rgba(0,0,0,0.12),
              0 16px 16px -16px rgba(0,0,0,0.12);
  .placard {
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
  }
}

#home-repositories {
  h2 {
    letter-spacing: .15em;
    font-size: 30px
  }

  .dec-dash {
    color: #bbb;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .library-collections {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid #bbb;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: bottom;
    min-height: 210px;
    .btn {
      box-shadow: 0 -1px 1px rgba(0,0,0,0.06),
                  0 -2px 2px rgba(0,0,0,0.06),
                  0 -4px 4px rgba(0,0,0,0.06),
                  0 -8px 8px rgba(0,0,0,0.06),
                  0 -16px 16px rgba(0,0,0,0.06);
      border-top: 1px solid rgba(255,255,255,.15);
      &:hover, &:focus, &:active {
        text-decoration: none !important;
      }
    }

    &.digital-collections {
      background-image: asset_url('homepage/digital_collections_bg_wide.jpg');
      @include media-breakpoint-up(lg) {
        background-image: asset_url('homepage/digital_collections_bg.jpg');
      }
    }

    &.materials {
      background-image: asset_url('homepage/materials_bg_wide.png');
      @include media-breakpoint-up(lg) {
        background-image: asset_url('homepage/materials_bg.png');
      }
    }

    &.rdr {
      background-image: asset_url('homepage/rdr_bg_wide.jpg');
      @include media-breakpoint-up(lg) {
        background-image: asset_url('homepage/rdr_bg.jpg');
      }
    }

    &.dukespace {
      background-image: asset_url('homepage/duke_space_bg_wide.jpg');
      @include media-breakpoint-up(lg) {
        background-image: asset_url('homepage/duke_space_bg.jpg');
      }
    }
  }

  p.lead {
    font-size: 18px;
  }

}
