/* --------------------
    JS Tree Overrides
----------------------- */

.jstree-hovered {
  background-color: #E5E5E5 !important;
}

.jstree-clicked {
  background-color: #E5E5E5 !important;
  color: #000 !important;
}

.jstree-node {
  overflow-wrap: break-word;
}

/* If the folder is open, switch the icon to fa-folder-open. */
/* This is a bit of a CSS hack, but jstree doesn't seem to   */
/* support doing this natively. */
.jstree-open > a.jstree-anchor > i.fa-folder::before {
  content: "\f07c";
}
