/* Audio & Video Player Custom Styles */
.jw-skin-seven .jw-playlist-container .jw-option:hover .jw-label {
  color: #333 !important;
}

.jw-playlist {
  min-height:5em !important;
}

#jwplayer-element {
  &:focus {
    border: 3px solid $primary-link-color !important;
  }
}

/* Bugfix for JWPlayer */
/* else CC button doesn't light up green when ON. */
#jwplayer-element .jw-icon-cc {
  color: $success;
}

.av-playlist-pagination {
  & a.now-playing {
    background-color: $success !important;
    border-color: $success !important;
    color: black !important;
  }
}
