/* =============== */
/* ALERT BAR       */
/* =============== */
.preview-alert {
  margin-bottom: 0;
  border-radius: 0;
  background-color: tint($success, 90%);
  border-bottom: 10px solid $success;
  color: shade($success, 10%);

  & .preview-alert-msg {
    margin-right: 1em;
  }
}

#header-navbar {
  background: $dul-masthead-blue;
  padding-top: none;
  border-top: none;
  padding: 18px 0 10px 0;
  margin-bottom: 0;
  z-index: 200;

  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06),
              0 16px 16px rgba(0,0,0,0.06);

  /* =============== */
  /* BRANDING / LOGO */
  /* =============== */

  .navbar-dul {
    margin-right: 1.25em;
    float: left;
    @include media-breakpoint-only(xs) {
      margin-right: .75em;
    }
    @include media-breakpoint-only(md) {
      margin-right: .5em;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 1em;
    }
  }

  .navbar-logo {
    width: 134px;
    height: 44px;
    background-size: cover;
    background-image: asset_url('branding/dul_logo_white.png');
    margin-right: 0;
    margin-top: 0;
    @include media-breakpoint-only(xs) {
      background-image: asset_url('branding/dul_devil_white.png');
      width: 24px;
    }
    @include media-breakpoint-only(md) {
      background-image: asset_url('branding/dul_devil_white.png');
      width: 24px;
    }
  }


  .navbar-product-name {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
     text-decoration: none;
     .product-name-secondary {
       color: #ddd;
     }
    }
    .product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 31px;
      line-height: 22px;
      margin-top: 0;
      color: white;
    }
    .product-name-secondary {
      display: block;
      color: #ccc;
      font-size: 18px;
      margin-top: 1px;
      padding-top: 0;
      padding-left: 1px;
    }
  }

  /* =========== */
  /* SEARCH FORM */
  /* =========== */

  #mast-search {
    #search_scope {
      background-color: $gray-lighter;
      border-radius: .25rem 0 0 .25rem !important;
      min-width: 7.5rem;
      &:hover, &:active, &:focus {
        background-color: shade($gray-lighter, 10%);
        cursor: pointer;
      }
    }
}

  /* ============== */
  /* MASTHEAD LINKS */
  /* ============== */

  #user-utilities {
    float: right;
    /* Hide in mobile mode; use the #mobile-only-menu */
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .navbar-nav {
      @media (max-width: 991px) {
        display: none;
      }

      > .open > a {
        color: white;
        background-color: transparent;
      }

      a {
        color: #ddd;
        text-transform: none;
        margin-bottom: 0;
        font-size: 15px;
        padding: 4px 7px 0 7px;
        @include media-breakpoint-up(lg) {
          padding: 4px 9px 0 9px;
        }

        &:before {
         margin-right: 0.3em;
        }

        &:hover {
          color: white;
          text-decoration: none;
          background-color: transparent;
        }

        &:focus {
          color: white;
          background-color: transparent;
        }

        &.ask-a-librarian {
          &:before {
            content: "\f075";
            font: var(--fa-font-solid);
          }
        }
        &.full-menu {
          &:before {
            content: "\f0c9";
            font: var(--fa-font-solid);
          }
          &.menu-active {
            color: white;
            &:before {
              content: "\f00d";
              font: var(--fa-font-solid);
            }
          }
        }
        & .nav-label,
        & .nav-label-signedin {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
      .util-action > a {
        &:before {
          content: "\f007";
          font: var(--fa-font-solid);
        }
      }

      @include media-breakpoint-between(md, lg) {
        .nav-label,
        .nav-label-signedin {
          display: none;
        }
      }
    }
  }

  .dropdown-menu {
    background-color: #042762;

    .nav-label {
      display: inline-block !important;
    }

  }

  #mast-search .dropdown-menu {
    background-color: #fff;
  }

  .dropdown-toggle.current-user {
    text-overflow: ellipsis;
  }


  /* ============= */
  /* Mobile Toggle */
  /* ============= */

  #mobile-menu {
    right: 0;
  }

  .btn.navbar-toggle {
    color: #ddd;
    font-size: 24px;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
    &:hover {
      color: white;
    }
    &:not(.collapsed) {
     color: white;
    }
    &:focus {
      /* See https://ghinda.net/article/mimic-native-focus-css/ */
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 2px;
      outline-color: Highlight;
      /* Chrome & Safari */
      @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        outline-color: -webkit-focus-ring-color;
        outline-width: 5px;
        outline-style: auto;
      }
      /* Firefox */
      @-moz-document url-prefix() {
        outline-width: 3px;
      }
    }

  }

  /* Patch the void between 768px & 991px where the shared DUL mast expects */
  /* to be fully in mobile mode but this app does not. This breakpoint   */
  /* mismatch complicates things a bit. */
  @media (max-width: 991px) {
    .btn.navbar-toggle.mobile-menu-right-toggle {
      display: block;
    }
  }

}

/* ====================== */
/* Mobile-Only Menu */
/* ====================== */

#mobile-only-menu {
  background: #042762;
  .navbar-nav {
    margin-top: 0;
    background: #042762;
    float: none;
    > li > a {
      color: white;
      padding-left: 0.5em;
      padding-right: 0.5em;
      &:hover, &:focus {
        background: $success;
        color: rgba(0,0,0,.85);
      }
    }
  }

  .full-menu-toggle-wrapper {
    display: none;
  }

  /* Breakpoint different from $screen-sm b/c shared DUL */
  /* megadropdowns would not render between 768-991px */
  @media (min-width: 991px) {
    display: none;
  }
}

/* ====================== */
/* DUL Masthead Overrides */
/* ====================== */
/* Just show the primary nav menu from the shared mast; hide the rest */
/* TODO: Consider adding a menu-only option to dul-masthead app, e.g., via */
/* a parameter, so the markup for these hidden elements doesn't render at all */

#dul-masthead-row {
  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06),
              0 16px 16px rgba(0,0,0,0.06);
}

#dul-masthead-row, #dul-masthead-row .nav {
  background: #042762;
}

.dul-masthead-bar {
  #dul-masthead-dul-megamenu {
    height: auto;
    /* Hide all the parts of the shared mast that we won't use */
    .dul-masthead-region-logo,
    .dul-masthead-region-scoped-search,
    .dul-masthead-region-myaccount,
    #dul-masthead-logo,
    .dul-masthead-mobile-menu,
    #dul-masthead-nav-trigger-btn,
    .hide-link-text,
    li.dul-masthead-megamenu_button {
      display: none !important;
    }
    #dul-masthead-region-megamenu {
      display: none;
      margin-top: 0;
    }
    .dul-masthead-megamenu_container ul {
     padding: 0;

     li.dul-masthead-mega_toplevel {
       padding: 12px;
       > a {
         font-weight: 400;
         color: white;
       }
     }

     div.dul-masthead-dropdown_fullwidth {
      //  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
       border-top: none;
       margin-top: 5px;
       @include media-breakpoint-up(md) {
         border-left: 150px solid #eee !important;
       }
       @include media-breakpoint-up(lg) {
         border-left: 200px solid #eee !important;
       }
       box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5),
                   -10px 8px 15px rgba(0, 0, 0, 0.5),
                   10px 8px 15px rgba(0, 0, 0, 0.5);
     }
    }

    .dul-masthead-no-touch ul li.dul-masthead-mega_toplevel:hover {
      background: $success;
      border-top: 4px solid #6c7b09 !important;
      margin-top: -4px !important;
      padding-top: 6px;
      > a {
        color: rgba(0,0,0,.85);
      }
    }
    .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth a {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  /* Don't display it at all in mobile mode */
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
