<%# Note matomo_analytics_site_id is a local var because it is passed different %>
<%# values from the ddr layout vs. embed layout. %>

<meta id="matomo-analytics-configs" data-matomo-analytics-host="<%= Ddr::Public.matomo_analytics_host %>"
  data-matomo-analytics-site-id="<%= matomo_analytics_site_id %>"
  data-matomo-analytics-debug="<%= Ddr::Public.matomo_analytics_debug %>" />

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];

  <%# Custom Dimensions (must be defined before trackPageView) %>
  <%# https://developer.matomo.org/guides/tracking-javascript-guide#custom-dimensions %>

  <% if @document %>
    _paq.push(['setCustomDimension',
                customDimensionId = 1,
                customDimensionValue = 'document view']); // DDR View Type
    _paq.push(['setCustomDimension',
                customDimensionId = 2,
                customDimensionValue = '<%= matomo_permanent_id(@document) %>']); // DDR Permanent ID
    _paq.push(['setCustomDimension',
                customDimensionId = 3,
                customDimensionValue = '<%= matomo_document_model(@document) %>']); // DDR Document Model
    _paq.push(['setCustomDimension',
                customDimensionId = 4,
                customDimensionValue = '<%= matomo_admin_set(@document) %>']); // DDR Admin Set
    _paq.push(['setCustomDimension',
                customDimensionId = 5,
                customDimensionValue = '<%= matomo_collection(@document) %>']); // DDR Collection
    <% if @document.item.present? %>
      _paq.push(['setCustomDimension',
      customDimensionId = 6,
      customDimensionValue = '<%= matomo_item(@document) %>']); // DDR Item
    <%- end -%>
  <%- end -%>

  <%# //Account for dc collection homepages that are portals rather than document show pages %>
  <% if ( @portal.respond_to? :collection ) && ( @portal.collection.present? ) %>
    _paq.push(['setCustomDimension',
                customDimensionId = 1,
                customDimensionValue = 'portal view']); // DDR View Type
    _paq.push(['setCustomDimension',
                customDimensionId = 2,
                customDimensionValue = '<%= matomo_permanent_id(@portal.collection) %>']); // DDR Permanent ID
    _paq.push(['setCustomDimension',
                customDimensionId = 3,
                 customDimensionValue = '<%= matomo_document_model(@portal.collection) %>']); // DDR Document Model
    _paq.push(['setCustomDimension',
                customDimensionId = 4,
                customDimensionValue = '<%= matomo_admin_set(@portal.collection) %>']); // DDR Admin Set
  <%- end -%>

  <% if has_search_parameters? %>
    _paq.push(['setCustomDimension',
                customDimensionId = 1,
                customDimensionValue = 'search results']); // DDR View Type
  <%- end %>

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//<%= Ddr::Public.matomo_analytics_host %>/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '<%= matomo_analytics_site_id %>']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<!-- End Matomo Code -->
