<!DOCTYPE html>
<html>
<head>
  <title>Duke Digital Repository</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>

<%= yield %>

</body>
</html>
