<%# Extends these core layouts, with content_for hooks: %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/layouts/blacklight/base.html.erb %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/layouts/blacklight.html.erb %>

<% content_for(:head) do %>
  <%# DUL CUSTOMIZATION: add custom favicon tags %>
  <%# see https://tinyurl.com/favicons-in-2021   %>

  <%# Opting to store these files in /public rather than /assets because %>
  <%# the manifest file can't point to fingerprinted paths. %>

  <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
  <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
  <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
  <meta name="msapplication-TileColor" content="#053482">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.gstatic.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta property="og:site_name" content="<%= og_site_name %>">
  <meta name="twitter:site" content="<%= twitter_handle %>">
  <meta property="og:title" content="<%= render_page_title %>">

  <%= content_for(:twitter_og_meta) %>

  <%# Only track analytics if configured. Pre & Dev track to separate Matomo sites for testing. %>

  <% if Ddr::Public.matomo_analytics_site_id.present? %>
    <%= render 'matomo_analytics', matomo_analytics_site_id: Ddr::Public.matomo_analytics_site_id %>
  <% end %>

<% end %>

<%# Blank out the container_header region coming from BL %>
<%# so it doesn't double-render things like constraints  %>
<%# that we have moved into the main content or sidebar. %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/catalog/_search_results.html.erb#L15 %>
<%= content_for :container_header, '', flush: true %>

<% content_for :skip_links do %>
  <%= link_to 'Skip to search', '#search_box', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:content) do %>
  <%# DUL CUSTOM REGION: submast (not in core BL) %>
  <%# The submast renders just below the blue masthead, flush with the side edges %>
  <% if content_for? :submast %>
    <section id="submast" class="col-12 order-first">
      <div class="row flush-sides mb-4">
        <%= yield(:submast) %>
      </div>
    </section>
  <% end %>

  <% if content_for? :sidebar %>
    <section id="content" class="<%= main_content_classes %>">
      <%= yield %>
      <%= yield(:subcontent) if content_for? :subcontent %>
    </section>

    <section id="sidebar" class="<%= sidebar_classes %>" role="complementary" aria-label="Sidebar">
      <%= content_for(:sidebar) %>
    </section>
  <% else %>
    <section id="content" class="col-12">
      <%= yield %>
      <%= yield(:subcontent) if content_for? :subcontent %>
    </section>
  <% end %>
<% end %>

<%= render template: 'layouts/blacklight/base' %>
