<% content_for :subcontent do %>
  <section id="aptman" class="col order-last" role="complementary" aria-label="Preservation statement">
    <hr>
    <p class="small text-muted">The preservation of the Duke University Libraries Digital Collections and the Duke Digital Repository programs are supported in part by the <%= link_to 'Lowell and Eileen Aptman Digital Preservation Fund', Ddr::Public.adopt_url, class: 'underlined-link' %></p>
  </section>
<% end -%>

<%= render template: 'layouts/ddr' %>
