<!DOCTYPE html>
<html lang="en">
<head>
  <title>Duke Digital Repository Embed</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>

  <%# Separate Matomo site for embeds so as to not bloat visit stats every
  time iframe content is served up %>
  <% if Ddr::Public.matomo_analytics_embed_id.present? %>
    <%= render 'matomo_analytics', matomo_analytics_site_id: Ddr::Public.matomo_analytics_embed_id %>
  <% end %>
</head>
<body class="ddr-embed">
  <div role="main">
    <h1 class="sr-only visually-hidden">
      <%= @document.title_ssi %>
    </h1>
    <% case @document.display_format_ssi %>
      <% when /^(image|folder)$/ %>
        <%= render 'catalog/embed/image_item', document: @document %>
      <% when "video" %>
        <%= render 'catalog/embed/video_item', document: @document %>
      <% when "audio" %>
        <%= render 'catalog/embed/audio_item', document: @document %>
    <% end %>
  </div>
</body>
</html>
